<!-- Cart Total -->
<div class="col-12">
  <div class="checkout-cart-total">
    <h2 class="checkout-title">Hóa đơn của bạn</h2>
    <h4 class="title-product">Tên sản phẩm x số lượng<span class="total-must">Tổng</span></h4>
    <ul>
      <li><span class="left float-left-must">Xe cẩn cẩu điều khiển từ xa X 01</span> <span
        class="right float-right-must">468.000 vnđ</span></li>
      <li><span class="left float-left-must">Siêu xe porseche911 X 01 </span><span
        class="right float-left-must">3.999.000 vnđ</span></li>
      <li><span class="left float-left-must">Phi cơ của chiến binh báo đen X 01</span>
        <span class="right float-left-must">659.000 vnđ</span></li>
    </ul>
    <p>Tổng <span>5.126.000 vnđ</span></p>
    <p>Phí vận chuyển<span>30.000 vnđ</span></p>
    <h4 class="total-after">Thành tiền<span>5.156.000 vnđ</span></h4>
    <button class="place-order w-100 pay-directly-must"><h4>THANH TOÁN NGAY</h4></button>
  </div>
</div>
