<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/style.css">
  
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
            <div class="card col-lg-4 col-sm-6">
                <img class="card-img-top rounded mx-auto d-block img-thumbnail "
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
                    </h5>
                            <p class="card-text">
                               <span>22/01/2021</span>Trịnh Quang Tiến</p>
                            <p class="card-text blog-content">
                            Tuyển tập những bộ đồ chơi máy bay điều khiển từ xa...</p>
                    </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>