<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link href="css/style.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- ================= PRODUCT DETAILS ====================== -->
    <section class="card-wrapper">
        <div class="card">
            <!-- card left begin -->
            <div class="product-imgs">
                <div class="img-display">
                    <div class="img-showcase">
                        <img src="img/toy1.jpg">
                        <img src="img/toy2.jpg">
                        <img src="img/toy3.jpg">
                        <img src="img/toy4.jpg">
                    </div>
                </div>
                <div class="img-select">
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="img/toy1.jpg">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="img/toy2.jpg">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="img/toy3.jpg">
                        </a>
                    </div>
                    <div class="img-item">
                        <a href="#" data-id="1">
                            <img src="img/toy4.jpg">
                        </a>
                    </div>
                </div>
            </div>
            <!-- card left end -->
            <!-- card rigth begin -->
            <div class="product-content">
                <h2 class="product-title">Bộ dụng cụ trang điểm màu hồng</h2>
                <div class="product-detail">
                    <div class="detail-left">
                        <p>Thương hiệu</p>
                        <p>Mã sản phẩm</p>
                        <p>Tình trạng</p>
                    </div>
                    <div class="detail-right">
                        <p>Make it real</p>
                        <p>SKU 2506MIR</p>
                        <p>còn hàng</p>
                    </div>
                </div>
                <div class="product-price">
                    <p class="last-price">447.000 VNĐ <span class="sale-price">559.000 VNĐ</span></p>
                </div>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-detail-short">
                    <p>Hàng chính hãng, chứng nhận an toàn</p>
                    <p>Miễn phí giao hàng toàn quốc cho đơn trên 400.000 VNĐ</p>
                </div>
                <div class="product-purchase">
                    <div class="product-quantity">
                        <span class="decrease quantity-btn">-</span>
                        <input type="number" value="1">
                        <span class="increase quantity-btn">+</span>
                    </div>
                    <div class="product-cart">
                        <button type="button" class="btn-cart">
                            Thêm vào giỏ hàng
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </div>
                    <div class="product-fav">
                        <i class="fas fa-heart"></i>
                        Yêu thích
                    </div>
                </div>
            </div>
            <!-- card right end -->
        </div>
    </section>
    <!-- ====================== DESCRIPTION PRODUCT ======================= -->
    <section class="describe-product">
        <div class="container">
            <div class="describe-title">
                <h2>Mô tả sản phẩm</h2>
            </div>
            <div class="describe-content">
                <p>Bộ dụng cụ trang điểm màu hồng Make It Real 2506MIR với bảng màu phong phú, bé có thể thỏa sức sáng tạo phối màu mắt với nhau. Sản phẩm được làm từ nguyên liệu an toàn cho bé sử dụng.
                    Sản phẩm bao gồm: Gương, 20 màu phấn mắt, 2 màu má hồng, 2 son bóng, 3 màu sơn móng tay, Sách hướng dẫn
                </p>
            </div>
        </div>
    </section>
    <!--============= RELATED PRODUCTS ================== -->
    <section class="related-product">
       <div class="container">
           <div class="related-title">
               <h2>Sản phẩm tương tự</h2>
           </div>
           <div class="row">
               <div class="col-md-3">
                   <div class="product-item">
                       <div class="product-name text-center">
                           <h5>Bộ dụng cụ trang điểm</h5>
                       </div>
                       <div class="product-img">
                           <img src="img/toy1.jpg">
                           <div class="overplay">
                               <button type="button" class="btn btn-secondary" title="Quick Shop">
                                   <i class="fa fa-eye"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                   <i class="fa fa-heart"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Cart">
                                   <i class="fa fa-shopping-cart"></i>
                               </button>
                           </div>
                       </div>
                       <div class="product-price text-center">
                           <h5>433.000 VNĐ <span>619.000 VNĐ</span></h5>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="product-item">
                       <div class="product-name text-center">
                           <h5>Bộ dụng cụ trang điểm</h5>
                       </div>
                       <div class="product-img">
                           <img src="img/toy1.jpg">
                           <div class="overplay">
                               <button type="button" class="btn btn-secondary" title="Quick Shop">
                                   <i class="fa fa-eye"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                   <i class="fa fa-heart"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Cart">
                                   <i class="fa fa-shopping-cart"></i>
                               </button>
                           </div>
                       </div>
                       <div class="product-price text-center">
                           <h5>433.000 VNĐ <span>619.000 VNĐ</span></h5>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="product-item">
                       <div class="product-name text-center">
                           <h5>Bộ dụng cụ trang điểm</h5>
                       </div>
                       <div class="product-img">
                           <img src="img/toy1.jpg">
                           <div class="overplay">
                               <button type="button" class="btn btn-secondary" title="Quick Shop">
                                   <i class="fa fa-eye"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                   <i class="fa fa-heart"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Cart">
                                   <i class="fa fa-shopping-cart"></i>
                               </button>
                           </div>
                       </div>
                       <div class="product-price text-center">
                           <h5>433.000 VNĐ <span>619.000 VNĐ</span></h5>
                       </div>
                   </div>
               </div>
               <div class="col-md-3">
                   <div class="product-item">
                       <div class="product-name text-center">
                           <h5>Bộ dụng cụ trang điểm</h5>
                       </div>
                       <div class="product-img">
                           <img src="img/toy1.jpg">
                           <div class="overplay">
                               <button type="button" class="btn btn-secondary" title="Quick Shop">
                                   <i class="fa fa-eye"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Wishlist">
                                   <i class="fa fa-heart"></i>
                               </button>
                               <button type="button" class="btn btn-secondary" title="Add to Cart">
                                   <i class="fa fa-shopping-cart"></i>
                               </button>
                           </div>
                       </div>
                       <div class="product-price text-center">
                           <h5>433.000 VNĐ <span>619.000 VNĐ</span></h5>
                       </div>
                   </div>
               </div>
           </div>
       </div>
    </section>

    <script src="js/main.js"></script>
    
</body>
</html>