<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/product.css">
    <title>Document</title>
</head>

<body>
    <!-- <div class="container-fluid">
        <div class="row"> -->
            <!-- <div class="card" style="width: 15rem;"> -->
                <!-- <img class="card-img-top rounded mx-auto d-block img-thumbnail"
                    src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title product-size">Đồ chơi mô hình lắp ráp Bugatti Chiron</h5>
                    <div class="row">
                        <div class="product-price col-sm-9 col-12">
                            <p class="card-text font-weight-bold text-muted text-center product-discount">
                                420.000 VNĐ</p>
                            <p class="card-text font-weight-bold text-primary  product-size text-center">
                                420.000 VNĐ</p>
                        </div>
                        <button href="#" class="btn col-sm-3 col-12 ">
                            <img src="imgs/product/cart.png" alt="">
                        </button>
                    </div>
                </div> -->
                
            <!-- </div> -->
        <!-- </div>
    </div> -->
    <a href="" >
        <img class="img-fluid" src="imgs/home/banner/banner-full.png" alt="">
    </a>
</body>

</html>