<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách sản phẩm</title>
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fontawesome.min.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>


<!--		Breadcrumb-->
        <section class="container">
            <nav aria-label="breadcrumb" class="breadcrumb-contents">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
                </ol>
              </nav>
		</section>
			<div class="container">
				<div class="row">
					<div class="col-lg-9  order-2">
							<div class="row shop-toolbar">
								<div class="col-xl-7 col-md-6 col-sm-5  mt-md-3">
										Showing 1 to 9 of 14 (2 Pages)
								</div>
								<div class="col-lg-5 col-md-6 col-sm-7 ">
									<div class="sorting-selection row">
										<span class="col-sm-5 col-lg-4 ml-0 pl-0">Sort By:</span>
										
										<select class="col-sm-7 col-lg-5 form-control sort-select ml-0 pl-0">
											<option value="" selected="selected">Chọn</option>
											<option class="small-option" value="">Giá tăng dần</option>
											<option value="small-option">Giá giảm dần</option>
										
										</select>
									
									</div>
								</div>
							</div>
					<!-- Product grid -->
					
						<div class="shop-product-wrap row mb-2">
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										 src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										 alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										 src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										 alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="card">
									<img class="card-img-top rounded mx-auto d-block img-thumbnail"
										 src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
										 alt="Card image cap">
									<div class="card-body">
										<h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
										</h5>
										<div class="row">
											<div class="product-price col-sm-9 col-12">
												<p class="card-text font-weight-bold text-muted text-center product-discount">
													420.000 VNĐ</p>
												<p class="card-text font-weight-bold text-primary size-16 text-center">
													420.000 VNĐ</p>
											</div>
											<button href="#" class="btn col-sm-3 col-12 ">
												<img src="imgs/product/cart.png" class="shopping-cart-center" alt="">
											</button>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- Pagination Block -->
						<div class="row">
							<div class="col-md-12">
								<div class="pagination-block">
									<ul class="pagination-btns">
										<li><a href="" class="prev-btn p-btn"><i class="fas fa-angle-left"></i></a></li>
										
										<li class="active"><a href="" class="page p-btn">1</a></li>
										<li><a href="" class="page p-btn">2</a></li>
										<li><a href="" class="page p-btn">3</a></li>
										<li><a href="" class="page p-btn">4</a></li>
										
										<li><a href="" class="next-btn p-btn "><i class="fas fa-angle-right"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
												
					</div>
					<div id="left-sidebar" class="col-lg-3 container">
							<!-- Accordion -->
							<div class="single-block">
								<h3 class="sidebar-title">Categories</h3>

								<div class="left-sidebar-parent">
									<a class="left-sidebar-title row m-1 mt-3 " data-toggle="collapse" href="#do-choi-van-dong" role="button"
										aria-expanded="false" aria-controls="do-choi-van-dong">
										<span class="col-xl-10 col-lg-9  col-sm-11 col-12">Đồ chơi vận động</span>
									
										<i class="fas fa-angle-down col-xl-2 col-lg-3   col-sm-1 col-12"></i>
									</a>
									<div class="collapse" id="do-choi-van-dong">
										<a href="" class="left-sidebar-item m-3">Đồ chơi dã ngoại</a>
										<a href="" class="left-sidebar-item m-3">Đồ dùng nhà bếp</a>
										<a href="" class="left-sidebar-item m-3">Đồ chơi dưới nước</a>
										<a href="" class="left-sidebar-item m-3">Xe đạp</a>
									</div>
								</div>
								<div class="left-sidebar-parent">
									<a class="left-sidebar-title row m-1 mt-3 "data-toggle="collapse" href="#do-choi-tri-tue" role="button"
										aria-expanded="false" aria-controls="do-choi-van-dong">
										<span class="col-xl-10 col-lg-9  col-sm-11 col-12">Đồ chơi trí tuệ</span>
										<i class="fas fa-angle-down col-xl-2 col-lg-3  col-sm-1 col-12"></i>
									</a>
									<div class="collapse" id="do-choi-tri-tue">
										<a href="" class="left-sidebar-item m-3">Rubik</a>
										<a href="" class="left-sidebar-item m-3">Smart game</a>
										<a href="" class="left-sidebar-item m-3">Puzzle</a>
									</div>
								</div>
								<div class="left-sidebar-parent">
									<a class="left-sidebar-title row m-1 mt-3 "data-toggle="collapse" href="#phuong-tien-giao-thong" role="button"
										aria-expanded="false" aria-controls="do-choi-van-dong">
										<span class="col-xl-10 col-lg-9  col-sm-11 col-12">Phương tiện giao thông</span>
										<i class="fas fa-angle-down col-xl-2 col-lg-3  col-sm-1 col-12"></i>
									</a>
									<div class="collapse" id="phuong-tien-giao-thong">
										<a href="" class="left-sidebar-item m-3">Xe mô hình</a>
										<a href="" class="left-sidebar-item m-3">Máy bay, tên lửa</a>
										<a href="" class="left-sidebar-item m-3">Xe cứu hỏa</a>
									</div>
								</div>
								<div class="left-sidebar-parent">
									<a class="left-sidebar-title row m-1 mt-3 "data-toggle="collapse" href="#nhan-vat" role="button"
										aria-expanded="false" aria-controls="do-choi-van-dong">
										<span class="col-xl-10 col-lg-9  col-sm-11 col-12">Nhân vật</span>
										<i class="fas fa-angle-down col-xl-2 col-lg-3  col-sm-1 col-12"></i>
									</a>
									<div class="collapse" id="nhan-vat">
										<a href="" class="left-sidebar-item m-3">Búp bê</a>
										<a href="" class="left-sidebar-item m-3">Robot</a>
									</div>
								</div>
							</div>
							<!-- Price -->
							<div class="single-block">
								<h3 class="sidebar-title filter-sidebar">Fillter By Price</h3>

<!--								<p>-->
<!--									<label for="amount">Price range:</label>-->
<!--									<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">-->
<!--								  </p>-->
<!--								   -->
								  <div id="slider-range" class="range-slider-widget"></div>

								<div class="range-slider-value">
									<div id="cost-from">5000</div>
									<div class="hyphen">-</div>
									<div id="cost-to">5000</div>
								</div>
							</div>
							<!-- Size -->
							<div class="single-block">
								<h3 class="sidebar-title">Độ tuổi</h3>
								<div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="tren-12-tuoi">
									<label class="form-check-label" for="tren-12-tuoi">
									  Trên 11 tuổi
									</label>
								  </div>
								  <div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="tu-6-11-tuoi">
									<label class="form-check-label" for="tu-6-11-tuoi">
									  Từ 6 - 11 tuổi
									</label>
								  </div>
								  <div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="tu-1-6-tuoi">
									<label class="form-check-label" for="tu-1-6-tuoi">
									  Từ 1 - 6 tuổi
									</label>
								  </div>
							</div>
							<div class="single-block">
								<h3 class="sidebar-title">Giới tính</h3>
								<div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="gt-nam">
									<label class="form-check-label" for="gt-nam">
									  Nam
									</label>
								  </div>
								  <div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="gt-nu">
									<label class="form-check-label" for="gt-nu">
									 Nữ
									</label>
								  </div>
								  <div class="form-check m-1 mt-3">
									<input class="form-check-input" type="checkbox" value="" id="gt-ca2">
									<label class="form-check-label" for="gt-ca2">
									  Cả 2
									</label>
								  </div>
							</div>
							<!-- Promotion Block -->
							<div class="single-block">
								<a href="" class="promo-image sidebar">
									<img src="image/others/home-side-promo.jpg" alt="">
								</a>
							</div>
					</div>
				</div>
			</div>


    <script src="js/jquery.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/all.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>