<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="css/style.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/03d6a3c329.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="cart">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <table class="table table-product">
              <thead>
              <tr class="text-center">
                <th colspan="2">Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Tổng</th>
                <th>#</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <img src="img/toy1.jpg" alt="Đồ chơi 1" width="70">
                </td>
                <td><h5>Bộ dụng cụ trang điểm</h5></td>
                <td class="text-center">430.000 VNĐ</td>
                <td class="text-center">
                  <div class="product-quantity">
                    <span class="decrease quantity-btn">-</span>
                    <input type="number" value="1" class="form-control">
                    <span class="increase quantity-btn">+</span>
                  </div>
                </td>
                <td class="text-center">430.000 VNĐ</td>
                <td class="text-center"><i class="fas fa-trash-alt"></i></td>
              </tr>
              <tr>
                <td>
                  <img src="img/toy2.jpg" alt="Đồ chơi 2" width="70">
                </td>
                <td><h5>Bộ dụng cụ trang điểm</h5></td>
                <td class="text-center">430.000 VNĐ</td>
                <td class="text-center">
                  <div class="product-quantity">
                    <span class="decrease quantity-btn">-</span>
                    <input type="number" value="1" class="form-control">
                    <span class="increase quantity-btn">+</span>
                  </div>
                </td>
                <td class="text-center">430.000 VNĐ</td>
                <td class="text-center"><i class="fas fa-trash-alt"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12 mb-30 mb-lg-0">
            <div class="interested-title">
              <h3>Bạn có thể thích</h3>

            </div>
          </div>
          <div class="col-lg-6 col-12 d-flex">
            <div class="cart-summary">
              <div class="cart-summary-wrap">
                <h4><span>Tổng tiền giỏ hàng</span></h4>
                <p>Tạm tính <span class="text-primary">860.000 VNĐ</span></p>
                <p>Phí vận chuyển <span class="text-primary">20.000 VNĐ</span></p>
                <h2>Tổng cộng <span class="text-primary">880.000 VNĐ</span></h2>
              </div>
              <div class="cart-summary-button">
                <a href="checkout.html" class="checkout-btn c-btn btn--primary">Thanh toán</a>
                <button class="update-btn c-btn btn-outlined">Cập nhật</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>