<section class="product-details">
  <div class="container">
    <div class="row  mb--60">
      <div class="col-lg-5 mb--30">
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img class="zoom" src="">

            </div>
          </div>
          <div class="img-select">
            <div class="img-item">

              <p  data-id="1">
                <img src="assets/imgs/products/toy1.jpg">
              </p>
            </div>
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="assets/imgs/products/toy2.jpg">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="assets/imgs/products/toy3.jpg">
              </a>
            </div>
            <div class="img-item">
              <a href="#" data-id="1">
                <img src="assets/imgs/products/toy4.jpg">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="product-content">
          <h2 class="product-title ">Bộ dụng cụ trang điểm màu hồng</h2>
          <div class="product-detail">
            <div>Thương hiệu<span>Make it real</span></div>
            <div>Mã sản phẩm<span>SKU 2506MIR</span></div>
            <div>Tình trạng<span>Còn hàng</span></div>

            <!--                            <div class="detail-left">-->
            <!--                                <p>Thương hiệu</p>-->
            <!--                                <p>Mã sản phẩm</p>-->
            <!--                                <p>Tình trạng</p>-->
            <!--                            </div>-->
            <!--                            <div class="detail-right">-->
            <!--                                <p class="">Make it real</p>-->
            <!--                                <p class="">SKU 2506MIR</p>-->
            <!--                                <p class="">còn hàng</p>-->
            <!--                            </div>-->
          </div>
          <div class="product-price">
            <p class="last-price ">447.000 VNĐ <span class="sale-price">559.000 VNĐ</span></p>
          </div>
          <div class="product-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="product-detail-short">
            <p>Hàng chính hãng, chứng nhận an toàn.
              Miễn phí giao hàng toàn quốc cho đơn trên 400.000 VNĐ</p>
          </div>
          <div class="product-purchase">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-4">
                <div class="product-quantity">
                  <span class="decrease quantity-btn">-</span>
                  <input type="number" value="1">
                  <span class="increase quantity-btn">+</span>
                </div>
              </div>
              <div class="col-lg-8 col-sm-8">
                <div class="product-cart">
                  <button type="button" class="btn-cart">
                    Thêm vào giỏ hàng
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
