<section class="product-details" *ngIf="product != undefined">
  <div class="container">
    <div class="row  mb--60">
      <div class="col-lg-5 mb--30">
        <div class="product-imgs">
          <div class="img-display">
            <div class="img-showcase">
              <img @fade class="zoom" src="{{imgZoom}}">
            </div>
          </div>
          <div class="img-select">
            <div class="img-item cursor-pointer" *ngFor="let img of product.images">
              <p>
                <img (click)="selectImg(img)" src="{{img}}">
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="product-content">
          <h2 class="product-title ">{{product.name}}</h2>
          <div class="product-detail">
            <div>Thương hiệu<span>{{product.brand}}</span></div>
            <div>Mã sản phẩm<span>{{product.product_id}}</span></div>
            <div>Tình trạng<span>Còn hàng</span></div>
          </div>
          <div class="product-price">
            <p class="last-price" *ngIf="product.price_sale == 0">{{product.price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</p>
            <p class="last-price" *ngIf="product.price_sale != 0">{{product.price_sale | currency:'VND':'symbol':'1.0-0':'vi-VN'}}
              <span class="sale-price">{{product.price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span>
            </p>
          </div>
          <div class="product-rating">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <div class="product-detail-short">
            <p>Hàng chính hãng, chứng nhận an toàn.
              Miễn phí giao hàng toàn quốc cho đơn trên 400.000 VNĐ</p>
          </div>
          <div class="product-purchase">
            <div class="row">
              <div class="col-lg-4 col-md-5 col-sm-4">
                <div class="product-quantity">
                  <span class="decrease quantity-btn" (click)="decreaseQuantity()">-</span>
<!--                  <input type="number" value="{{quantity}}">-->
                  <span class="quantity">{{quantity}}</span>
                  <span class="increase quantity-btn" (click)="increaseQuantity()">+</span>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="product-cart">
                  <button type="button" class="btn-cart" (click)="handleAddToCart()">
                    {{title}}
                    <i class="fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
              <div class="col-lg-4 col-sm-4">
                <div class="product-cart">
                  <button type="button" class="btn-cart btn-love">
                    {{title2}}
                    <i class="fas fa-heart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
