@media screen and (min-width: 992px) {
  .product-details .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
.product-details .product-imgs img {
  width: 90%;
  display: block; }
.product-details .product-imgs .img-display {
  overflow: hidden; }
  .product-details .product-imgs .img-display .img-showcase {
    display: flex;
    width: 100%;
    transition: all 0.5s ease; }
    .product-details .product-imgs .img-display .img-showcase img {
      min-width: 90%; }
.product-details .product-imgs .img-select {
  display: flex; }
  .product-details .product-imgs .img-select .img-item {
    margin: 0.3rem; }
  .product-details .product-imgs .img-select .img-item:nth-child(1), .product-details .product-imgs .img-select .img-item:nth-child(2), .product-details .product-imgs .img-select .img-item:nth-child(3) {
    margin-right: 0; }
  .product-details .product-imgs .img-select .img-item:hover {
    opacity: 0.8; }
.product-details .product-content {
  padding: 0; }
  .product-details .product-content .product-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    color: #00AFEF;
    margin: 1rem 0; }
  .product-details .product-content .product-detail {
    padding: 0; }
    .product-details .product-content .product-detail div:nth-child(1) {
      font-size: 14px; }
      .product-details .product-content .product-detail div:nth-child(1) span {
        margin-left: 1.2rem;
        font-weight: bold;
        text-transform: uppercase; }
        @media (max-width: 270px) {
          .product-details .product-content .product-detail div:nth-child(1) span {
            display: block;
            margin-left: 0; } }
    .product-details .product-content .product-detail div {
      font-size: 14px; }
      .product-details .product-content .product-detail div span {
        color: #00AFEF;
        margin-left: 1rem;
        text-transform: capitalize; }
        @media (max-width: 270px) {
          .product-details .product-content .product-detail div span {
            display: block;
            margin-left: 0; } }
  .product-details .product-content .product-price {
    margin: 1rem 0;
    font-size: 14px;
    font-weight: 700;
    color: #00AFEF; }
    .product-details .product-content .product-price span {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.562);
      margin-left: 5px;
      text-decoration: line-through; }
  .product-details .product-content .product-rating {
    color: #ffc107; }
  .product-details .product-content .product-detail-short {
    font-size: 14px;
    margin: 1rem 0; }
    .product-details .product-content .product-detail-short p {
      margin: 0.1rem; }
  .product-details .product-content .product-purchase .product-quantity {
    width: 90%;
    height: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-top: 5px; }
    @media (max-width: 181px) {
      .product-details .product-content .product-purchase .product-quantity {
        display: flex; } }
    @media (min-width: 284px) and (max-width: 575px) {
      .product-details .product-content .product-purchase .product-quantity {
        width: 150px; } }
    .product-details .product-content .product-purchase .product-quantity .quantity-btn {
      width: 18%;
      font-size: 16px;
      color: #6f6f6f;
      cursor: pointer;
      display: inline-block; }
    .product-details .product-content .product-purchase .product-quantity .quantity {
      height: 90%;
      font-size: 16px;
      color: #6f6f6f;
      width: 50px;
      border: none;
      background: #f5f5f5;
      text-align: center; }
  .product-details .product-content .product-purchase .product-cart .btn-cart {
    font-size: 14px;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 0.5rem;
    background-color: #00AFEF;
    color: #fff;
    margin-bottom: 5px; }
    @media (max-width: 200px) {
      .product-details .product-content .product-purchase .product-cart .btn-cart {
        padding: 0;
        margin-bottom: 5px; } }
  .product-details .product-content .product-purchase .product-cart .btn-love {
    background-color: #bd0018; }

@media (min-width: 992px) and (max-width: 1199px) {
  .btn-cart {
    margin-left: 10px; } }

/*# sourceMappingURL=product-card-detail.component.css.map */
