<!-- Billing Address -->
<div id="billing-form" class="mb-40">
  <h4 class="checkout-title">Địa chỉ nhận hàng</h4>
  <div class="row">
    <div class="col-md-6 col-12 mb--20">
      <label>Họ*</label>
      <input type="text" placeholder="Họ">
    </div>
    <div class="col-md-6 col-12 mb--20">
      <label>Tên*</label>
      <input type="text" placeholder="Tên">
    </div>
    <div class="col-12 mb--20">
      <label>Số điện thoại</label>
      <input type="text" placeholder="+84">
    </div>
    <div class="col-12 mb--20">
      <label>Email</label>
      <input type="text" placeholder="Email">
    </div>
    <div class="col-12 mb--20">
      <label>Địa chỉ</label>
      <input type="text" placeholder="Số nhà, xã/phường, tỉnh/thành phố">
    </div>
  </div>
</div>
<!-- Shipping Address -->
<div class="order-note-block mt--30">
  <label for="order-note">Ghi chú</label>
  <textarea id="order-note" cols="30" rows="10" class="order-note"
            placeholder="Nội dung ghi chú"></textarea>
</div>
