<div class="site-wrapper" id="top">
  <div class="site-header header-2 mb--20 d-none d-lg-block"></div>
  <app-breadcrumb [parent_title]="'Trang chủ'" child_title="Liên hệ"></app-breadcrumb>
  <!-- Cart Page Start -->
  <main class="contact_area inner-page-sec-padding-bottom">
    <div class="container">
      <!--                <div class="row">-->
      <!--                    <div class="col-lg-12">-->
      <!--                        <div id="google-map"></div>-->
      <!--                    </div>-->
      <!--                </div>-->
      <div class="row mt--60 ">
        <div class="col-lg-5 col-md-5 col-12">
          //contact_address
          <app-contact-address><app-contact-address>
        </div>
        <div class="col-lg-7 col-md-7 col-12 mt--30 mt-md--0">
          <app-contact-form><app-contact-address>
        </div>
      </div>
    </div>
  </main>

</div>
