<!--        Blog-->
<section id="blog-promote" class="margin-50">
  <div class="container">
    <div class="section-title section-title--bordered margin-button-50">
      <h2>Cẩm nang đồ chơi</h2>
    </div>
    <ngx-slick-carousel class="carousel sb-slick-slider "
                        #slickModal="slick-carousel"
                        [config]="slideConfig">

      <div *ngFor="let blog of blogs" ngxSlickItem class="slide">
        <app-blog-card [blog]="blog"></app-blog-card>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
