<div class="site-wrapper" id="top">
  <app-breadcrumb [parent_title]="'Trang chủ'" child_title="Chi tiết bài viết"></app-breadcrumb>
  <section class="inner-page-sec-padding-bottom">
    <div class="container">
      <div class="blog-post post-details mb--50">
        <div class="blog-image">
          <img src="image/car.jpg" alt="">
        </div>
        <div class="blog-content mt--30">
          <header>
            <h3 class="blog-title"> 1.Đồ Chơi Mô Hình Lắp Ráp Audi R8 V10 Plus Tỉ Lệ 1:24</h3>
            <div class="post-meta">
                                <span class="post-author">
                                    <i class="fa fa-user"></i>
                                    <span class="text-gray">Posted by : </span>
                                    admin
                                </span>
              <span class="post-separator">|</span>
              <span class="post-date">
                                    <i class="far fa-calendar-alt"></i>
                                    <span class="text-gray">On : </span>
                                    March 10, 2015
                                </span>
            </div>
          </header>
          <article>
            <h3 class="d-none sr-only">blob-article</h3>
            <b>
              Thương hiệu: MAISTO<br>
              SKU 39510/MT39900
            </b>
            <p>với màu đỏ hiện đại cùng lớp sơn tĩnh điện bóng đẹp. Tuy chỉ là đồ chơi trẻ em nhưng
              thiết kế tinh xảo đến từng chi tiết. Nhờ đó mà bé dễ dàng hình dung và khám phá chiếc
              xe ô tô ngoài đời thật.</p>
          </article>

        </div>
      </div>
      <div class="share-block mb--50">
        <h3>Chia sẻ</h3>
        <div class="social-links  justify-content-center  mt--10">
          <a href="#" class="single-social social-rounded"><i class="fa fa-facebook-f"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fa fa-twitter"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fa fa-pinterest-p"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fa fa-google"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>
