.inner-page-sec-padding-bottom{
  .container{
    .blog-post{
      .blog-image{
        img{
          width: 100%;
          display: block;
          margin-bottom: 25px;
        }
      }
      .blog-content{
        header{
          .blog-title{
            @media (max-width: 299px) {
              font-size: 15px !important;
            }
          }

        }

      }
    }
    .share-block{
      h3{
        text-align: center;
        background: none;
        color: #8c8c8c;
        font-size: 14px;
        line-height: 26px;
        text-transform: uppercase;
        margin-top: 50px;
        width: auto;
      }
      .social-links{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .single-social{
          color: #333;
          background: #f7f7f7;
          border-radius: 100%;
          color: #353535;
          display: inline-block;
          font-size: 14px;
          height: 26px;
          line-height: 26px;
          margin-right: 10px;
          text-align: center;
          width: 26px;
          margin-bottom: 80px;
        }
        .single-social:hover{
          color: #fff;
          background: #00afef;
        }
      }
    }
  }

}
