<div class="contact_adress">
  <div class="ct_address">
    <h3 class="ct_title">Thông tin địa chỉ</h3>
  </div>
  <div class="address_wrapper">
    <div class="address">
      <div class="icon icon-address">
        <i class="fa fa-map-pin"></i>
      </div>
      <div class="contact-info-text">
        <p><span>Địa chỉ:</span> Trường Đại học Nông Lâm<br> TP. Hồ Chí Minh</p>
      </div>
    </div>
    <div class="address">
      <div class="icon">
        <i class="fa fa-envelope"></i>
      </div>
      <div class="contact-info-text">
        <p><span>Email: </span> thegioidochoi@gmail.com </p>
      </div>
    </div>
    <div class="address">
      <div class="icon">
        <i class="fa fa-phone"></i>
      </div>
      <div class="contact-info-text">
        <p><span>Số điện thoại:  </span> 038876878</p>
      </div>
    </div>
  </div>
</div>
