# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DUONGBANHUAN\TaiLieuHocTapHK2Nam3\LapTrinhFrontEnd\CV_Nhuan_PHP_Storm\CV_PHP_STORM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
