<div class="interested-title">
  <h3>Bạn có thể thích</h3>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let product of listProducts; let i=index">
    <div *ngIf="i<2">
<!--      <app-product-item [productItem]="product"></app-product-item>-->
      <app-product-card-sale [product]="product" (getProductQuickView)="getQuickView($event)"></app-product-card-sale>
    </div>
  </div>
</div>
<app-product-card-quickview [product]="productQuickView"></app-product-card-quickview>
