<div *ngIf="_pagination !==undefined && numbers !==undefined">
<div class="row">
  <div class="col-md-12">
    <div class="pagination-block">
      <ul class="pagination-btns">
        <li [style.display]="isDisablePrevious?'none':''" (click)="changePrevious()"><p class="prev-btn p-btn"><i class="fas fa-angle-left"></i></p></li>

        <div *ngFor="let i of numbers">
          <div *ngIf="i == _pagination.current; else elseBlock">
            <li class="active"><p  class="page p-btn">{{i}}</p></li>
          </div>
          <ng-template #elseBlock>
            <li (click)="changePage(i)"><p  class="page p-btn">{{i}}</p></li>
          </ng-template>
        </div>

<!--        <li class="active"><a href="" class="page p-btn">1</a></li>-->
<!--        <li><a href="" class="page p-btn">2</a></li>-->
<!--        <li><a href="" class="page p-btn">3</a></li>-->
<!--        <li><a href="" class="page p-btn">4</a></li>-->

        <li [style.display]="isDisableNext?'none':''" (click)="changeNext()"><p href="" class="next-btn p-btn "><i class="fas fa-angle-right"></i></p></li>
      </ul>
    </div>
  </div>
</div>
</div>
