<div class="row">
  <div class="col-md-12">
    <div class="pagination-block">
      <ul class="pagination-btns">
        <li><a href="" class="prev-btn p-btn"><i class="fas fa-angle-left"></i></a></li>

        <li class="active"><a href="" class="page p-btn">1</a></li>
        <li><a href="" class="page p-btn">2</a></li>
        <li><a href="" class="page p-btn">3</a></li>
        <li><a href="" class="page p-btn">4</a></li>

        <li><a href="" class="next-btn p-btn "><i class="fas fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
</div>
