$small: 300px;
$medium: 992px;
$black: #000;
$blue: #00AFEF;
$gray: #7b7b7b;
.product-item {
  margin-top: 1rem;
  .product-img{
    position: relative;
    img{
      width: 90%;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .product-img:hover{
    .overplay{
      opacity: 1;
      transition: 0.5s;
    }
  }
  .product-card{
    h5{
      font-size: 16px;
      font-weight: 700;
    }
    .product-price{
      color: $blue;
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 0;
    }
    .product-price-discount{
      color:$gray;
      text-decoration: line-through;
      font-size: 14px;
    }
    .btn-cart{
      color: $blue;
      background-color: #fff;
      font-size: 25px;
    }
  }
}
.product-img{
  img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
