
<div *ngIf="blog !==undefined">
  <div class="card ">
    <img class="card-img-top rounded mx-auto d-block img-thumbnail "
         src="https://u6wdnj9wggobj.vcdn.cloud/media/catalog/product/cache/7c9924b6276ad76a951c1e786fcf2062/magento/MAISTO/MT39900_39514/MT39900_39514_1.jpg"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title size-16 font-weight-bolder">{{blog.title}}
      </h5>
      <p class="card-text">
        <span>{{blog.date}}</span>{{blog.author}}</p>
      <p class="card-text blog-content">
        {{blog.content.substring(0,20)}}</p>
    </div>
  </div>
</div>
