
<div *ngIf="blog !==undefined">
  <div class="card">
    <img class="card-img-top rounded mx-auto d-block img-thumbnail "
         src="{{blog.img1}}"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title size-16 font-weight-bolder">{{blog.name}}
      </h5>
      <p class="card-text">
        <span>{{blog.date}}</span> | {{blog.author}}</p>
      <p class="card-text blog-content">
        Tất cả sản phẩm đồ chơi Hot Wheels đều được sản xuất.....</p>
    </div>
  </div>
</div>
