$small: 300px;
$medium: 992px;
$black: #000;
$blue: #00AFEF;
$gray: #7b7b7b;
.cart {
  .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

