/*=== Media Query ===*/
/*=== MEDIA QUERY with max width===*/
/* Media Queries in Variable */
/*=== Variables ===*/
/*=== Mixins ===*/
/*>>>>>>>> Fonts <<<<<<<<<*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i");
/*>>>>>>>> Reset <<<<<<<<<*/
$color-bold-blue: #00afef;
$color-blue: #46ccfd;
$color-gray: #7b7b7b;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
  background: #fff;
}

// .site-wrapper {
//   position: relative;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.25;
}

a,
span {
  display: inline-block;
}

a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
}
a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.75;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  border-color: transparent;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.card {
  border: none;
  border-radius: 0;
}

/*>>>>>>>> Hero Area <<<<<<<<<*/
.hero-area {
  .home-content {
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px;
    }
    @media (min-width: 992px) {
      min-height: 440px;
    }
    @media (min-width: 1200px) {
      min-height: 410px;
    }
    @media (min-width: 1600px) {
      min-height: 560px;
    }
    h1 {
      color: #ff6046;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      padding: 0;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 22px;
      @media (min-width: 576px) {
        font-size: 30px;
      }
      @media (min-width: 768px) {
        line-height: 1.5;
        font-size: 40px;
      }
      @media (min-width: 1200px) {
        font-size: 45px;
      }
      @media (min-width: 1600px) {
        font-size: 60px;
      }
    }
    h2 {
      color: #ffc800;
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.2;
      padding: 0;
      font-size: 16px;

      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 992px) {
        font-size: 22px;
      }
      @media (min-width: 1200px) {
        font-size: 30px;
      }
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    .btn {
      line-height: 40px;
      font-size: 13px;
      text-transform: capitalize;
      padding: 0 20px;
      min-height: 40px;

      @media (min-width: 576px) {
        margin-top: 50px 0;
        padding: 0 30px;
        margin-top: 30px 0 50px 0;
      }
      @media (min-width: 1200px) {
        margin-top: 57px;
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px;
      }
    }
    .hero-partial-image {
      position: relative;
      margin-bottom: 10px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      @media (min-width: 480px) {
        width: 50%;
      }
      @media (min-width: 576px) {
        z-index: -1;
        position: absolute;
        width: 65%;
      }
      @media (min-width: 768px) {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0;
      }
      @media (min-width: 992px) {
        margin-left: 0;
        width: 58%;
      }
      @media (min-width: 1200px) {
        width: 58%;
      }
      @media (min-width: 1600px) {
        top: 35px;
        width: auto;
      }
      img {
        width: 100%;
      }
    }
   
  }
  
}

.hero-area .home-content .hero-partial-image.image-left {
  right: 0;
}
@media (min-width: 576px) {
  .hero-area .home-content .hero-partial-image.image-left {
    right: -75px;
  }
}
@media (min-width: 768px) {
  .hero-area .home-content .hero-partial-image.image-left {
    margin-left: -20px;
    left: 0;
    right: auto;
    bottom: auto;
    width: 65%;
  }
}
@media (min-width: 992px) {
  .hero-area .home-content .hero-partial-image.image-left {
    width: 58%;
    margin-left: 0px;
  }
}
@media (min-width: 1200px) {
  .hero-area .home-content .hero-partial-image.image-left {
    width: 45%;
  }
}
@media (min-width: 1600px) {
  .hero-area .home-content .hero-partial-image.image-left {
    width: auto;
    margin-left: -60px;
  }
}
.hero-area .home-content .hero-partial-image.image-right {
  left: 0;
}
@media (min-width: 576px) {
  .hero-area .home-content .hero-partial-image.image-right {
    left: auto;
    right: -75px;
  }
}
@media (min-width: 768px) {
  .hero-area .home-content .hero-partial-image.image-right {
    right: 0;
    margin-right: 0px;
    width: 55%;
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .hero-area .home-content .hero-partial-image.image-right {
    width: 50%;
    margin-right: 60px;
    margin-top: 10px;
  }
}
@media (min-width: 1600px) {
  .hero-area .home-content .hero-partial-image.image-right {
    margin-right: 0px;
    width: auto;
  }
}
@media (min-width: 1600px) {
  .hero-area .home-content .home-content-inner.content-right-side {
    padding-left: 85px;
  }
}

.hero-area.hero-slider-2 .home-content {
  min-height: 330px;
}
@media (min-width: 480px) {
  .hero-area.hero-slider-2 .home-content {
    min-height: 355px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-2 .home-content {
    min-height: 430px;
  }
}
@media (min-width: 1600px) {
  .hero-area.hero-slider-2 .home-content {
    min-height: 530px;
  }
}
.hero-area.hero-slider-2 .home-content .title-small {
  font-size: 16px;
  line-height: 1;
  color: #3a3a3c;
  font-weight: 600;
  margin-bottom: 5px;
}
.hero-area.hero-slider-2 .home-content .title-mid {
  line-height: 28px;
  color: rgb(0, 175, 239);
  font-weight: 600;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-2 .home-content .title-mid {
    font-size: 22px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-2 .home-content .title-mid {
    font-size: 28px;
  }
}
.hero-area.hero-slider-2 .home-content h2 {
  letter-spacing: 3px;
  color: #333333;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 42px;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-2 .home-content h2 {
    font-size: 62px;
  }
}
.hero-area.hero-slider-2 .home-content h2.h2-v2 {
  letter-spacing: 0px;
  font-weight: 900;
  font-size: 25px;
}
@media (min-width: 480px) {
  .hero-area.hero-slider-2 .home-content h2.h2-v2 {
    font-size: 32px;
  }
}
@media (min-width: 576px) {
  .hero-area.hero-slider-2 .home-content h2.h2-v2 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-2 .home-content h2.h2-v2 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .hero-area.hero-slider-2 .home-content h2.h2-v2 {
    font-size: 60px;
  }
}
.hero-area.hero-slider-2 .home-content p {
  line-height: 26px;
  color: #333;
  font-style: italic;
  font-size: 13px;
}
@media (min-width: 480px) {
  .hero-area.hero-slider-2 .home-content p {
    font-size: 16px;
  }
}
@media (min-width: 576px) {
  .hero-area.hero-slider-2 .home-content p {
    font-size: 18px;
  }
}
.hero-area.hero-slider-2 .home-content .btn {
  margin-top: 20px;
}

.hero-area.hero-slider-3 .home-content {
  min-height: 355px;
  text-align: center;
}
@media (min-width: 992px) {
  .hero-area.hero-slider-3 .home-content {
    min-height: 400px;
  }
}
@media (min-width: 1200px) {
  .hero-area.hero-slider-3 .home-content {
    min-height: 450px;
  }
}
@media (min-width: 1600px) {
  .hero-area.hero-slider-3 .home-content {
    min-height: 595px;
  }
}

.hero-area.hero-slider-3 .home-content h1 {
  color: #fff;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 12px;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-style: italic;
  font-size: 33px;
}
@media (min-width: 480px) {
  .hero-area.hero-slider-3 .home-content h1 {
    font-size: 40px;
  }
}
@media (min-width: 576px) {
  .hero-area.hero-slider-3 .home-content h1 {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-3 .home-content h1 {
    font-size: 55px;
  }
}
.hero-area.hero-slider-3 .home-content h2 {
  font-weight: 500;
  color: #fff;
  font-family: "PT Serif", serif;
  font-size: 20px;
  line-height: 25px;
}
@media (min-width: 480px) {
  .hero-area.hero-slider-3 .home-content h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (min-width: 576px) {
  .hero-area.hero-slider-3 .home-content h2 {
    font-size: 30px;
    line-height: 32px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-3 .home-content h2 {
    font-size: 33px;
    line-height: 35px;
  }
}
@media (min-width: 1200px) {
  .hero-area.hero-slider-3 .home-content h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.hero-area.hero-slider-3 .home-content .btn {
  margin-top: 45px;
}

.hero-area.hero-slider-4 .home-content {
  padding-left: 20px;
  padding-right: 40px;
  height: 300px;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-4 .home-content {
    height: 420px;
  }
}
@media (min-width: 768px) {
  .hero-area.hero-slider-4 .home-content {
    padding-left: 30px;
    padding-right: 30px;
    height: 420px;
  }
}
@media (min-width: 992px) {
  .hero-area.hero-slider-4 .home-content {
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100%;
  }
}
.hero-area.hero-slider-4 .home-content .title-small {
  line-height: 1;
  color: #e61374;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .hero-area.hero-slider-4 .home-content .title-small {
    font-size: 28px;
  }
}
.hero-area.hero-slider-4 .home-content h1 {
  color: #333;
  font-weight: 900;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 33px;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-4 .home-content h1 {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .hero-area.hero-slider-4 .home-content h1 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .hero-area.hero-slider-4 .home-content h1 {
    font-size: 55px;
  }
}
@media (min-width: 1600px) {
  .hero-area.hero-slider-4 .home-content h1 {
    letter-spacing: -3px;
    font-size: 60px;
  }
}
.hero-area.hero-slider-4 .home-content h1.v2 {
  font-family: "PT Serif", serif;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
  font-size: 33px;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-4 .home-content h1.v2 {
    font-size: 44px;
  }
}
@media (min-width: 992px) {
  .hero-area.hero-slider-4 .home-content h1.v2 {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .hero-area.hero-slider-4 .home-content h1.v2 {
    font-size: 55px;
  }
}
@media (min-width: 1600px) {
  .hero-area.hero-slider-4 .home-content h1.v2 {
    letter-spacing: -3px;
    font-size: 60px;
  }
}
.hero-area.hero-slider-4 .home-content h2 {
  font-weight: 500;
  color: #fff;
  font-style: italic;
  text-transform: capitalize;
  font-family: "PT Serif", serif;
  font-size: 18px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .hero-area.hero-slider-4 .home-content h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  .hero-area.hero-slider-4 .home-content h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
.hero-area.hero-slider-4 .home-content p {
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  color: #fff;
}
@media (min-width: 576px) {
  .hero-area.hero-slider-4 .home-content p {
    color: #333;
  }
}
.hero-area.hero-slider-4 .home-content .btn {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .hero-area.hero-slider-4 .home-content .btn {
    margin-top: 45px;
  }
}

// .hero-products-group-slider > .slick-list {
//   margin: -10px;
// }

// .hero-products-group-slider .product-card {
//   border: 2px solid #eeeeee;
//   border-radius: 3px;
//   padding: 20px 10px;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   margin-left: 10px;
//   margin-right: 10px;
// }
// .hero-products-group-slider .product-card .card-image {
//   width: 135px;
// }

[class*="hero-slider-"] .single-slide {
  border-radius: 3px;
}

/*>>>>>>>> Sliders <<<<<<<<<*/
/*===== Brand Slider ======*/
.sb-slick-slider {
  position: relative;
}
.sb-slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sb-slick-slider .slick-dots li {
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #d3d3d3;
  margin: 4px;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.sb-slick-slider .slick-dots li.slick-active {
  background: rgb(0, 175, 239);
}
.sb-slick-slider .slick-dots li button {
  font-size: 0;
}
.sb-slick-slider .product-card.card-style-list {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

// .brand-slider {
//   position: relative;
//   padding: 10px 0;
// }
// .brand-slider .single-slide {
//   opacity: 0.8;
// }
// .brand-slider .single-slide img {
//   width: 100%;
// }
// .brand-slider .single-slide:hover {
//   opacity: 1;
// }

// .hero-product-slider .single-slide {
//   margin: 0 0px;
// }

// .product-slider {
//   overflow: hidden;
// }
// .product-slider .slick-list {
//   margin: 0 -1px;
// }
// .product-slider .single-slide {
//   margin: 0 1px;
// }
// .product-slider .slick-dots {
//   margin-top: 50px;
// }
// .product-slider.with-countdown.countdown-single .slick-dots {
//   margin-top: 25px;
//   margin-bottom: 27px;
// }
// .product-slider.multiple-row > .slick-list {
//   margin: -40px -1px 0 -1px;
// }
// .product-slider.multiple-row .single-slide {
//   margin-top: 40px !important;
// }
// .product-slider.multiple-row .slick-dots {
//   margin-top: 25px;
// }

// .slider-border-single-row .single-slide .product-card--body {
//   position: relative;
//   padding: 1px;
// }
// .slider-border-single-row .single-slide .product-card--body::before {
//   position: absolute;
//   content: "";
//   background: #e5e5e5;
//   left: 0px;
//   top: 0;
//   height: 100%;
//   width: 1px;
// }

// .slider-border-single-row
//   .single-slide.slick-current
//   .product-card--body::before {
//   height: 0%;
// }

// .slider-border-single-row.product-list-slider .product-card--body::before {
//   height: 0;
// }

// .slider-border-single-row.product-list-slider .single-slide .product-card {
//   position: relative;
//   padding: 1px;
// }
// .slider-border-single-row.product-list-slider
//   .single-slide
//   .product-card::before {
//   position: absolute;
//   content: "";
//   background: #e5e5e5;
//   left: 0px;
//   top: 0;
//   height: 100%;
//   width: 1px;
// }

// .slider-border-single-row.product-list-slider
//   .single-slide.slick-current
//   .product-card::before {
//   height: 0%;
// }

// .slider-border-multiple-row .single-slide .product-card--body {
//   position: relative;
//   padding: 1px;
// }
// .slider-border-multiple-row .single-slide .product-card--body::before {
//   position: absolute;
//   content: "";
//   background: #e5e5e5;
//   left: 0px;
//   top: 0;
//   height: 100%;
//   width: 1px;
// }

// .slider-border-multiple-row
//   .slick-current.slick-slide
//   > div
//   .product-card--body::before {
//   height: 0%;
// }

// .slider-border-multiple-row.product-list-slider .product-card--body::before {
//   height: 0;
// }

// .slider-border-multiple-row.product-list-slider .slick-slide .product-card {
//   position: relative;
//   padding-left: 10px;
// }
// .slider-border-multiple-row.product-list-slider
//   .slick-slide
//   .product-card::before {
//   position: absolute;
//   content: "";
//   background: #e5e5e5;
//   left: 0px;
//   top: 0;
//   height: 100%;
//   width: 1px;
// }

// .slider-border-multiple-row.product-list-slider
//   .slick-slide.slick-current
//   > div
//   .product-card::before {
//   height: 0%;
// }

// .product-slider-nav > .slick-list {
//   margin: 0 -10px;
// }

// .product-slider-nav .single-slide {
//   margin: 0 10px;
// }

// .product-slider-nav .slick-arrow {
//   width: 40px;
//   height: 40px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   border: 0;
//   border: 2px solid #e1e1e1;
//   background: #f7f7f9;
//   color: #9e9e9e;
//   text-align: center;
//   position: absolute;
//   z-index: 9;
//   cursor: pointer;
//   top: 50%;
//   -webkit-transition: all 300ms ease-in;
//   -o-transition: all 300ms ease-in;
//   transition: all 300ms ease-in;
//   border-radius: 100%;
//   font-size: 14px;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
// .product-slider-nav .slick-arrow.slick-next {
//   left: auto;
//   right: 0;
// }

// .product-slider-nav.vertical-slider .slick-arrow {
//   -webkit-transition: 0.4s;
//   -o-transition: 0.4s;
//   transition: 0.4s;
//   position: absolute;
//   width: 42px;
//   height: 42px;
//   line-height: 42px;
//   color: #999;
//   background: #ececec;
//   text-align: center;
//   z-index: 1;
//   -webkit-transition: all 0.3s ease;
//   -o-transition: all 0.3s ease;
//   transition: all 0.3s ease;
// }
// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .slick-arrow {
//     -webkit-transform: translate(-50%, 0%);
//     -ms-transform: translate(-50%, 0%);
//     transform: translate(-50%, 0%);
//     left: 50%;
//   }
// }
// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .slick-arrow.slick-prev {
//     top: 10px;
//   }
// }
// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .slick-arrow.slick-prev i:before {
//     content: "\f077";
//   }
// }
// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .slick-arrow.slick-next {
//     top: auto;
//     bottom: 10px;
//   }
// }
// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .slick-arrow.slick-next i:before {
//     content: "\f078";
//   }
// }
// .product-slider-nav.vertical-slider .slick-arrow:hover {
//   color: #292929;
// }

// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider:hover .slick-arrow.slick-prev {
//     top: 0px;
//   }
// }

// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider:hover .slick-arrow.slick-next {
//     top: auto;
//     bottom: 0px;
//   }
// }

// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider > .slick-list {
//     margin: 0px 0;
//   }
// }

// @media (min-width: 576px) {
//   .product-slider-nav.vertical-slider .single-slide {
//     margin: 8px 0;
//   }
// }

// .blog-gallery-slider .single-image img {
//   width: 100%;
// }

// .blog-gallery-slider .slick-arrow {
//   width: 50px;
//   height: 50px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   border: 0;
//   border: 2px solid #e1e1e1;
//   background: #f7f7f9;
//   color: #9e9e9e;
//   text-align: center;
//   position: absolute;
//   z-index: 9;
//   cursor: pointer;
//   top: 50%;
//   opacity: 0;
//   -webkit-transition: all 300ms ease-in;
//   -o-transition: all 300ms ease-in;
//   transition: all 300ms ease-in;
//   border-radius: 100%;
//   font-size: 14px;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }
// .blog-gallery-slider .slick-arrow.slick-prev {
//   left: 20px;
// }
// .blog-gallery-slider .slick-arrow.slick-next {
//   right: 20px;
// }
// .blog-gallery-slider .slick-arrow:hover {
//   background: #292929;
//   border-color: #292929;
//   color: #fff;
//   -webkit-transition: all 300ms ease-in;
//   -o-transition: all 300ms ease-in;
//   transition: all 300ms ease-in;
// }

// .blog-gallery-slider:hover > .slick-arrow {
//   opacity: 1;
// }
// .blog-gallery-slider:hover > .slick-arrow.slick-prev {
//   left: 25px;
// }
// .blog-gallery-slider:hover > .slick-arrow.slick-next {
//   right: 25px;
// }

// .blog-slider {
//   position: relative;
// }
// .blog-slider > .slick-list {
//   margin: 0 -15px;
// }
// .blog-slider .single-slide {
//   margin: 0 15px;
// }
// .blog-slider .slick-dots {
//   margin-top: 60px;
// }
// .blog-slider .blog-card .image img {
//   width: 100%;
// }
// @media (min-width: 576px) {
//   .blog-slider.slider-one-column .blog-card {
//     -webkit-box-align: start;
//     -ms-flex-align: start;
//     align-items: flex-start;
//   }
// }

// .herobanner-progress {
//   -webkit-animation: initial;
//   animation: initial;
//   background: rgba(51, 51, 51, 0.9);
//   height: 3px;
//   left: 0;
//   position: absolute;
//   top: 0;
//   width: 0;
//   z-index: 5;
//   opacity: 0.2;
// }

// .slick-current .herobanner-progress {
//   -webkit-animation: hoFill 8000ms ease-in-out s normal;
//   animation: hoFill 8000ms ease-in-out s normal;
// }

@-webkit-keyframes hoFill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes hoFill {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

[class*="hero-slider"] {
  position: relative;
}
[class*="hero-slider"] .slick-dots {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
[class*="hero-slider"] .slick-dots li {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid transparent;
  position: relative;
  cursor: pointer;
}
[class*="hero-slider"] .slick-dots li:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #3e444a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 100%;
}
[class*="hero-slider"] .slick-dots li.slick-active {
  background: transparent;
  border-color: rgb(0, 175, 239);
}
[class*="hero-slider"] .slick-dots li.slick-active:before {
  background: rgb(0, 175, 239);
}
.bg-shade-whisper {
  background: #dafcfb;
  background-image: url(../imgs/home/banner/banner-background1.jpg) !important;
  // background-image: url(imgs/home/banner/banner-background1.jpg);
  background-repeat: no-repeat, repeat;
}
.bg-pink-whisper {
  background: #ffe0f1;
  background-image: url(../imgs/home/banner/banner-background2.jpg) !important;
  // background-image: url(imgs/home/banner/banner-background1.jpg);
  background-repeat: no-repeat, repeat;
}
.content-left-side {
  margin-left: 100px;
}
@media (max-width: 998px) {
  .content-left-side {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .btn-padding5 {
    padding-top: 5px !important;
  }
}
@media (max-width: 768px) {
  .margin-top-banner {
    margin-top: 20px !important;
  }
}
// Promotion
.promo-image {
  display: block;
}
.promo-image img {
  width: 100%;
}

.promo-overlay {
  position: relative;
}
.promo-overlay:before {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.promo-overlay:hover:before {
  opacity: 0.2;
}

/* Promotion Image */
.promo-overlay {
  position: relative;
}
.promo-overlay:before {
  position: absolute;
  content: "";
  background: #fff;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.promo-overlay:hover:before {
  opacity: 0.2;
}

/*>>>>>>>> Tabs <<<<<<<<<*/
.sb-custom-tab {
  text-align: center;
}
.sb-custom-tab .nav.nav-tabs {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
}
.sb-custom-tab .nav.nav-tabs .nav-item {
  font-size: 15px;
  color: #282828;
  line-height: 48px;
  text-transform: capitalize;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  background: #fff;
  position: relative;
  margin: 1px;
  border-radius: 3px;
}
.sb-custom-tab .nav.nav-tabs .nav-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 13px;
}
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link {
  padding: 0 30px;
  border: 2px solid transparent;
  margin: -2px;
  -webkit-transition: border-color 0s, color 0.4s;
  -o-transition: border-color 0s, color 0.4s;
  transition: border-color 0s, color 0.4s;
}
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link.active,
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show {
  border-color: rgb(0, 175, 239);
  color: rgb(0, 175, 239);
}
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link.active ~ .arrow-icon,
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show ~ .arrow-icon {
  opacity: 1;
}
.sb-custom-tab .nav.nav-tabs .nav-item .nav-link:hover {
  color: rgb(0, 175, 239);
}
.sb-custom-tab .nav.nav-tabs .arrow-icon {
  position: absolute;
  left: calc(50% - 10px);
  opacity: 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  display: none;
}
@media (min-width: 992px) {
  .sb-custom-tab .nav.nav-tabs .arrow-icon {
    display: block;
  }
}
.sb-custom-tab .nav.nav-tabs .arrow-icon:before {
  position: absolute;
  content: "";
  border-width: 15px 12px;
  border-style: solid;
  border-color: rgb(0, 175, 239) transparent transparent transparent;
}
.sb-custom-tab .nav.nav-tabs .arrow-icon:after {
  position: absolute;
  content: "";
  border-width: 13px 10px;
  border-style: solid;
  left: 2px;
  border-color: #fff transparent transparent transparent;
  top: -2px;
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #e5e5e5;
}
@media (min-width: 480px) {
  .sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-item:first-child .nav-link {
    margin-left: 0 !important;
  }
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-item:last-child .nav-link {
  margin-right: 0 !important;
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link {
  border: none !important;
  position: relative;
  color: #222;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: block;
  font-size: 14px;
  padding: 0 0 10px;
  margin: -1px 10px;
}
@media (min-width: 576px) {
  .sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link {
    font-size: 15px;
    padding: 0 0 10px;
    margin: -1px 15px;
  }
}
@media (min-width: 992px) {
  .sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link {
    font-size: 20px;
    padding: 0 0 30px;
    margin: -1px 30px;
  }
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link:before {
  position: absolute;
  content: "";
  left: 10%;
  right: 10%;
  height: 2px;
  bottom: 0;
  background: transparent;
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.active,
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.show {
  color: rgb(0, 175, 239);
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.active:before,
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.show:before {
  background: rgb(0, 175, 239);
}
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.active:hover,
.sb-custom-tab .nav.nav-tabs.nav-style-2 .nav-link.show:hover {
  color: rgb(0, 175, 239);
}
.sb-custom-tab .tab-content > .tab-pane {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  height: 0;
}
.sb-custom-tab .tab-content > .tab-pane.show,
.sb-custom-tab .tab-content > .tab-pane.active {
  visibility: visible;
  opacity: 1;
  height: 100%;
}
.sb-custom-tab .tab-content > .tab-pane.show .product-card,
.sb-custom-tab .tab-content > .tab-pane.active .product-card {
  -webkit-animation: 0.6s linear zoomIn;
  animation: 0.6s linear zoomIn;
}
.section-padding {
  padding-bottom: 60px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .section-padding {
    padding-bottom: 80px;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
/*>>>>>>>> Products <<<<<<<<<*/
/*++ Product Cards ++*/
// .product-card {
//   text-align: center;
// }
// .product-card .product-header {
//   padding: 0 15px;
// }
// .product-card .author {
//   font-size: 14px;
//   font-weight: 400;
//   padding: 0;
//   color: #333;
//   text-transform: capitalize;
//   display: block;
//   margin-bottom: 5px;
// }
// .product-card .author:hover {
//   color: rgb(0, 175, 239);
// }
// .product-card h3 a {
//   padding: 0;
//   display: block;
//   text-transform: capitalize;
//   overflow: hidden;
//   font-size: 16px;
//   font-weight: 600;
//   margin-bottom: 18px;
// }
// .product-card h3 a:hover {
//   color: rgb(0, 175, 239);
// }
// .product-card .price-block {
//   text-align: center;
//   position: relative;
//   margin-top: 24px;
// }
// .product-card .card-image {
//   position: relative;
// }
// .product-card.card-style-list {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   max-height: 100%;
// }
// @media (min-width: 480px) {
//   .product-card.card-style-list {
//     -webkit-box-orient: horizontal;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: row;
//     flex-direction: row;
//     padding-right: 20px;
//   }
// }
// .product-card.card-style-list .card-image {
//   width: 170px;
// }
// @media (min-width: 576px) {
//   .product-card.card-style-list .card-image {
//     padding-right: 15px;
//   }
// }
// .product-card.card-style-list .product-card--body {
//   text-align: left;
// }
// .product-card.card-style-list .product-header {
//   padding-left: 0;
//   padding-right: 0;
// }
// .product-card.card-style-list .price-block {
//   margin-top: 13px;
//   text-align: left;
// }
// @media (min-width: 992px) {
//   .product-card .product-list-content .product-card--body article {
//     width: 70%;
//   }
// }
// .product-card .product-list-content .card-image {
//   width: 100%;
//   height: auto;
//   margin-bottom: 30px;
// }
// @media (min-width: 480px) {
//   .product-card .product-list-content .card-image {
//     max-width: 270px;
//     margin-bottom: 0px;
//   }
// }
// .product-card .product-list-content .card-image img {
//   width: 100%;
// }
// .product-card .product-list-content .rating-block {
//   margin-top: 18px;
// }
// .product-card .product-list-content .btn-block {
//   margin-top: 20px;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -ms-flex-wrap: wrap;
//   flex-wrap: wrap;
//   margin-bottom: -10px;
// }
// .product-card .product-list-content .btn-block .btn {
//   background: #fff;
//   color: #333;
//   font-weight: 700;
//   padding: 0 25px;
//   width: auto;
//   border: 2px solid #eee;
//   border-radius: 3px;
//   margin-top: 0;
//   text-transform: capitalize;
//   margin-bottom: 15px;
//   font-size: 14px;
//   line-height: 40px;
// }
// @media (min-width: 992px) {
//   .product-card .product-list-content .btn-block .btn {
//     padding: 0 50px;
//     font-size: 15px;
//     line-height: 48px;
//   }
// }
// .product-card .product-list-content .btn-block .btn:hover {
//   color: #555;
//   border-color: rgb(0, 175, 239);
// }
// .product-card .product-list-content .btn-block a {
//   margin-left: 0;
//   margin-right: 28px;
//   color: #333;
//   margin-bottom: 10px;
// }
// .product-card .product-list-content .btn-block a:last-child {
//   margin-right: 0;
// }
// .product-card .product-list-content .btn-block a i {
//   margin-right: 4px;
// }
// .product-card .product-list-content .btn-block a.card-link:hover {
//   color: rgb(0, 175, 239);
// }

// .product-body-border {
//   overflow: hidden;
// }
// .product-body-border .product-card {
//   padding: 4px;
// }
// .product-body-border .product-card .product-card--body {
//   position: relative;
//   padding: 1px;
// }
// .product-body-border .product-card .product-card--body::before {
//   position: absolute;
//   content: "";
//   background: #e5e5e5;
//   right: 0px;
//   top: 0;
//   height: 100%;
//   width: 1px;
// }

// .price {
//   color: #929292;
//   font-size: 18px;
//   color: rgb(0, 175, 239);
//   font-weight: 600;
// }
// @media (min-width: 576px) {
//   .price {
//     font-size: 14px;
//   }
// }
// @media (min-width: 1200px) {
//   .price {
//     font-size: 18px;
//   }
// }
// .price-old {
//   color: #999999;
//   text-decoration: line-through;
//   font-size: 14px;
//   font-weight: 400;
//   margin-left: 5px;
// }
// .price-discount {
//   color: #fff;
//   font-weight: 700;
//   text-align: center;
//   line-height: 24px;
//   padding: 0 7px;
//   min-width: 46px;
//   background: #bd0018;
//   text-transform: uppercase;
//   font-size: 14px;
//   margin-left: 5px;
//   z-index: 3;
//   border-radius: 3px;
// }
// @media (min-width: 576px) {
//   .price-discount {
//     line-height: 20px;
//     padding: 0 3px;
//     min-width: 40px;
//   }
// }
.size-16 {
  font-size: 16px;
}
.product-discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0;
}
.shopping-cart-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.margin-img-tab {
  margin-top: 50px;
}

// Promotion sale 50%
.promo-section-heading {
  background: rgb(0, 175, 239);
  border-radius: 3px;
  padding: 9px;
  text-align: center;
}
.promo-section-heading h2 {
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  text-transform: none;
  padding: 0;
  font-weight: 400;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .promo-section-heading h2 {
    font-size: 28px;
  }
}

/*Theme Spacing*/
.section-margin {
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .section-margin {
    margin-bottom: 80px;
  }
}

.section-margin-top {
  margin-top: 60px;
}
@media (min-width: 768px) {
  .section-margin-top {
    margin-top: 80px;
  }
}

.section-title {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 30px;
  h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .section-title {
    margin-bottom: 40px;
  }
}
@media (min-width: 992px) {
  .section-title h2 {
    font-size: 25px;
    padding-bottom: 31px;
  }
}
.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    position: relative;
    padding-bottom: 10px;
  }
}
.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: rgb(0, 175, 239);
}

//San pham ban chay
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.section-padding-top {
  padding-top: 60px;
}
@media (min-width: 768px) {
  .section-padding-top {
    padding-top: 80px;
  }
}

.best-seller-block {
  background: #fff;
  border-radius: 3px;
  padding: 30px 0 15px;
  .banner-left {
    text-align: center;
    padding: 0 24px;
    img {
      width: 100%;
    }
  }
}
@media (min-width: 768px) {
  .best-seller-block {
    padding: 15px 0;
  }
}
@media (min-width: 768px) {
  .best-seller-block {
    padding: 30px;
  }
}
@media (min-width: 576px) {
  .best-seller-block .banner-left {
    padding: 0 22px;
  }
}
@media (min-width: 768px) {
  .best-seller-block .banner-left {
    padding: 0;
  }
}

// .best-seller-block .product-slider {
//   margin-top: 30px;
// }
// @media (min-width: 768px) {
//   .best-seller-block .product-slider {
//     margin-top: 0;
//   }
// }
// .best-seller-block .product-slider .slick-dots {
//   margin-top: 30px;
// }
// .best-seller-block .product-slider .product-card--body:before {
//   background: transparent;
// }
// @media (min-width: 576px) {
//   .best-seller-block .product-slider .product-card--body:before {
//     background: #e5e5e5;
//   }
// }
// @media (min-width: 768px) {
//   .best-seller-block .product-slider .product-card--body:before {
//     background: transparent !important;
//   }
// }
// @media (min-width: 1200px) {
//   .best-seller-block .product-slider .product-card--body:before {
//     background: #e5e5e5 !important;
//   }
// }

// .best-seller-slider > .slick-list {
//   margin: 0 !important;
// }
// @media (min-width: 992px) {
//   .best-seller-slider > .slick-list {
//     margin: -40px -1px 0 -1px;
//   }
// }

// .best-seller-slider .product-card.card-style-list .product-card--body::before {
//   background: transparent;
// }
// @media (min-width: 576px) {
//   .best-seller-slider
//     .product-card.card-style-list
//     .product-card--body::before {
//     background: #e5e5e5;
//     right: -3px;
//   }
// }

// .best-seller-slider .slick-dots {
//   margin-top: 30px;
// }
// @media (min-width: 768px) {
//   .best-seller-slider .slick-dots {
//     margin-top: 50px;
//   }
// }
.promo-wrapper.promo-type-three {
  height: 320px;
}
//////////////Breadcrumb////////
.breadcrumb-contents {
  .breadcrumb {
    padding: 20px 0;
    .breadcrumb-item {
      font-size: 14px;
      color: #333;
      a:hover {
        color: rgb(0, 175, 239);
      }
    }

    .breadcrumb-item.active a {
      color: rgb(0, 175, 239);
    }
  }
}

/////////product-list////////
.inner-page-sec-padding-bottom {
  padding-bottom: 60px;
}
@media (min-width: 768px) {
  .inner-page-sec-padding-bottom {
    padding-bottom: 80px;
  }
}
// .breadcrumb-contents .breadcrumb
// .breadcrumb-contents .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
//   color: #333;
//   content: "\f3d3";
//   font-family: "Ionicons";
//   font-size: 12px;
// }
// .breadcrumb-contents .breadcrumb .breadcrumb-item a:hover {

// }
// .breadcrumb-contents .breadcrumb .breadcrumb-item.active a {

// }

.shop-toolbar {
  border: 2px solid #eeeeee;
  margin-bottom: 30px;
  padding: 14px 20px 9px 20px;
  .sorting-selection {
    padding: 6px 0px 6px 0px;
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .shop-toolbar {
    padding: 2.5px 20px;
  }
}

.product-view-mode .sorting-btn {
  margin-right: 7px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}
.product-view-mode .sorting-btn i {
  color: inherit;
}
.product-view-mode .sorting-btn.active {
  color: rgb(0, 175, 239);
}

.sorting-selection {
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  align-items: center;
  margin-left: 0;
}
@media (min-width: 992px) {
  .sorting-selection {
    // -webkit-box-pack: end;
    // -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
// .sorting-selection > span {
//   margin-right: 0;
// }
// .sorting-selection span {
//   line-height: 24px;
//   font-size: 12px;
//   padding: 6px 8px 6px 0;
// }
// @media (min-width: 576px) {
//   .sorting-selection span {
//     padding: 6px 8px 6px 0;
//     display: inline-block;
//     vertical-align: top;
//     line-height: 30px;
//     margin: 0;
//     margin-right: 8px;
//     color: #666666;
//     font-size: 14px;
//   }
// }
// @media (min-width: 768px) {
//   .sorting-selection span {

//     padding: 6px 1px 6px 0;
//     font-size: 13px;
//   }
// }
// @media (min-width: 992px) {
//   .sorting-selection span {
//     padding: 6px 15px 6px 0;
//     font-size: 14px;
//   }
//   @media (max-width: 576px) {
//     .sorting-selection span {
//       display: block;
//       padding: 6px 15px 6px 0;
//       font-size: 14px;
//     }

.sorting-selection .form-control {
  border: 1px solid transparent;
  // padding: 5px 15px;
  border-radius: 4px;
  line-height: 24px;
  font-size: 12px;
  margin: 0;
  right: 0;
  height: 36px;
  width: auto;
  // display: -webkit-box;
  // display: -ms-flexbox;
  display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  align-items: center;
  color: #333333;
}

.sorting-selection .form-control .list {
  left: auto;
  right: 0;
}
.sorting-selection .form-control:after {
  right: 0px;
}
@media (max-width: 230px) {
  .sorting-selection .form-control {
    width: 70px;
  }
}
@media (max-width: 230px) {
  .small-option {
    width: 70px;
  }
}

.pagination-block {
  font-size: 12px;
  font-weight: 400;
  border: 2px solid #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
}
.pagination-block .pagination-btns {
  display: flex;

  justify-content: center;

  flex: 100%;
  line-height: 28px;

  flex-wrap: wrap;
}
@media (min-width: 480px) {
  .pagination-block .pagination-btns {
    line-height: auto;
  }
}
.pagination-block .pagination-btns li {
  position: relative;
}
.pagination-block .pagination-btns li::before {
  content: "";
  border: 11px solid;
  border-color: transparent transparent rgb(0, 175, 239) transparent;
  position: absolute;
  width: 22px;
  left: 0;
  right: 0;
  top: -22px;
  margin: auto;
  opacity: 0;
}
.pagination-block .pagination-btns li.active::before {
  opacity: 1;
}
.pagination-block .pagination-btns li.active .single-btn {
  opacity: 1;
  color: rgb(0, 175, 239);
}
.pagination-block .pagination-btns li.active .single-btn:before,
.pagination-block .pagination-btns li.active .single-btn:after {
  opacity: 1;
}
.pagination-block .pagination-btns .single-btn {
  color: #555;
  background: none;
  font-size: 16px;
  border: none;
  padding: 0;
  font-weight: 600;
  width: 54px;
  height: 48px;
  border-radius: 0;
  line-height: 48px;
  position: relative;
  text-align: center;
}
.pagination-block .pagination-btns .single-btn:before {
  content: "";
  top: -2px;
  bottom: -2px;
  left: 0;
  right: 0;
  border: 2px solid rgb(0, 175, 239);
  position: absolute;
  border-radius: 3px;
  opacity: 0;
}
.pagination-block .pagination-btns .single-btn:after {
  content: "";
  border: 9px solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  width: 18px;
  left: 0;
  right: 0;
  top: -18px;
  margin: auto;
  z-index: 2;
  opacity: 0;
}
.pagination-block .pagination-btns .single-btn:hover,
.pagination-block .pagination-btns .single-btn.current {
  color: rgb(0, 175, 239);
}
.pagination-block .pagination-btns .single-btn i {
  font-size: 18px;
  position: relative;
  top: 2px;
  display: inline-block;
}
.pagination-block .pagination-btns .single-btn.prev-btn {
  margin-right: 10px;
  color: rgb(0, 175, 239);
}
.pagination-block .pagination-btns .single-btn.prev-btn::before {
  opacity: 1;
}
.pagination-block .pagination-btns .single-btn.next-btn {
  margin-right: 10px;
  color: rgb(0, 175, 239);
}
.pagination-block .pagination-btns .single-btn.next-btn::before {
  opacity: 1;
}

//sidebar
.left-sidebar-parent {
  .left-sidebar-title {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
  }
  i {
    display: inline-block;
  }
}
.left-sidebar-item {
  padding: 0px;
  display: block;

  border-bottom: 1px solid gray;
}
@media (max-width: 576px) {
  .left-sidebar-title {
    span {
      text-align: center;
    }
    i {
      text-align: center;
    }
  }
  .left-sidebar-item {
    margin: 20px !important;
    text-align: center;
  }
}

/*>>>>>>>> Sidebar <<<<<<<<<*/
.inner-page-sidebar .single-block {
  margin-bottom: 40px;
}
.inner-page-sidebar .single-block:last-child {
  margin-bottom: 0;
}

.sidebar-title {
  font-size: 15px;
  text-transform: capitalize;
  margin: 0 0 6px 0;
  text-align: left;
  font-weight: 700;
  display: block;
  line-height: 52px;
  background: rgb(0, 175, 239);
  text-align: center;
  color: #fff;
  border-radius: 3px;
}

.range-slider-value {
  margin-top: 30px;
  div {
    font-weight: 600;
  }
}
@media (min-width: 200px) {
  .range-slider-value {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #cost-from,
  #cost-to {
    display: inline-block;
  }
}
.range-slider-widget {
  .ui-widget-header {
    background: $color-blue !important;
  }
  span {
    border-radius: 45px !important;
    background: $color-blue !important;
  }
  span:hover {
    border-radius: 45px !important;
  }
}

//checkbox
input.form-check-input {
  width: 20px;
  height: 20px;
  background-color: $color-blue;
  margin-right: 50px;
}
.form-check-label {
  margin-left: 20px;
}
.form-check {
  border-bottom: 1px solid $color-gray;
  padding-bottom: 10px;
}
.form-check-input:checked:before {
  background-color: green;
}

//coupon
.coupon {
  position: absolute;
  left: 20px;
  top: 10px;
  background: red;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  color: white;
}
.product-coupon {
  position: relative;
}

@media (max-width: 700px) {
  .coupon {
    width: 35px;
    height: 35px;
    left: 18px;
    font-size: 13px;
  }
}
@media (max-width: 230px) {
  .coupon {
    width: 30px;
    height: 30px;
    left: 15px;
    font-size: 11px;
  }
}
@media (max-width: 180px) {
  .coupon {
    width: 20px;
    height: 20px;
    left: 5px;
    padding-top: 3px;
    font-size: 8px;
  }
}

.card-text span::after {
  content: "|";

  padding: 0px 5px;
}

@media (max-width: 300px) {
  .blog-content {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }
}
// .sidebar-menu--shop {
//   margin: 0;
//   padding-left: 20px;
//   padding-right: 20px;
// }
// @media (min-width: 992px) {
//   .sidebar-menu--shop {
//     padding-left: 15px;
//     padding-right: 15px;
//   }
// }
// @media (min-width: 1200px) {
//   .sidebar-menu--shop {
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }
// .sidebar-menu--shop li a {
//   text-transform: capitalize;
//   line-height: 25px;
//   padding: 10px;
//   display: block;
//   position: relative;
//   color: #555555;
//   font-size: 14px;
//   border-bottom: 1px solid #d9d9d9;
// }
// .sidebar-menu--shop li a:hover {
//   color: rgb(0, 175, 239);
// }
// .sidebar-menu--shop .inner-cat-items {
//   padding-left: 20px;
// }
// .sidebar-menu--shop.menu-type-2 li a {
//   overflow: hidden;
// }
// .sidebar-menu--shop.menu-type-2 li a span {
//   float: right;
// }

// .sidebar-list-1 li {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   margin-bottom: 10px;
// }
// .sidebar-list-1 li label {
//   margin-bottom: 0;
//   margin-left: 5px;
// }
// .sidebar-list-1 li label i {
//   font-size: 24px;
// }
// .sidebar-list-1 li label > a {
//   position: relative;
//   top: -3px;
//   margin-left: 5px;
//   color: #707070;
// }
// .sidebar-list-1 li label > a:hover {
//   color: rgb(0, 175, 239);
// }
// .sidebar-list-1 li:last-child {
//   margin-bottom: 0;
// }

// .sidebar-checkbox-list .box-field {
//   position: relative;
//   cursor: pointer;
// }
// .sidebar-checkbox-list .box-field .checkmark {
//   position: absolute;
//   top: -3px;
//   left: 1px;
//   display: none;
//   font-size: 17.6px;
// }

// .sidebar-checkbox-list input:checked ~ label > .box-field > .checkmark {
//   display: block;
// }

// .sidebar-checkbox-list label {
//   margin-bottom: 0;
// }

// .sidebar-checkbox-list li {
//   color: #707070;
//   font-size: 14px;
//   margin-top: 10px;
// }
// .sidebar-checkbox-list li a {
//   color: inherit;
// }

// .sidebar-checkbox-list .custom-square {
//   margin: -3px 3px 0 0;
//   width: 15px;
//   height: 15px;
//   border: 1px #dadada solid;
//   display: inline-block;
//   position: relative;
//   top: 2px;
// }

// .sidebar-color-list .color-box {
//   -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
//   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
//   width: 15px;
//   height: 15px;
//   position: relative;
//   top: 2px;
//   margin-right: 5px;
// }

// .sidebar-color-list li {
//   margin-bottom: 10px;
//   color: #707070;
// }
// .sidebar-color-list li a {
//   color: inherit;
// }
// .sidebar-color-list li a:hover {
//   color: rgb(0, 175, 239);
// }

// .promo-image.sidebar {
//   position: relative;
// }
// .promo-image.sidebar:before {
//   background: rgba(255, 255, 255, 0.2);
//   bottom: 0;
//   content: "";
//   left: 50%;
//   position: absolute;
//   right: 51%;
//   top: 0;
//   opacity: 1;
// }
// .promo-image.sidebar:after {
//   background: rgba(255, 255, 255, 0.2);
//   bottom: 50%;
//   content: "";
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 50%;
//   opacity: 1;
// }
// .promo-image.sidebar:hover:before {
//   left: 0;
//   right: 0;
//   opacity: 0;
//   -webkit-transition: all 900ms ease-in;
//   -moz-transition: all 900ms ease-in;
//   -ms-transition: all 900ms ease-in;
//   -o-transition: all 900ms ease-in;
//   transition: all 900ms ease-in;
// }
// .promo-image.sidebar:hover:after {
//   top: 0;
//   bottom: 0;
//   opacity: 0;
//   -webkit-transition: all 900ms ease-in;
//   -moz-transition: all 900ms ease-in;
//   -ms-transition: all 900ms ease-in;
//   -o-transition: all 900ms ease-in;
//   transition: all 900ms ease-in;
// }

// .color-list .color-box {
//   width: 15px;
//   height: 15px;
// }

// .sb-range-slider {
//   height: 7px;
//   background: #e8e8e8;
// }
// .sb-range-slider .ui-slider-handle {
//   width: 21px;
//   height: 21px;
//   top: -7px;
//   background: #fff;
//   border: 3px solid rgb(0, 175, 239);
//   border-radius: 100%;
// }
// .sb-range-slider .ui-slider-handle:focus {
//   outline: none;
// }
// .sb-range-slider .ui-widget-header {
//   background: rgb(0, 175, 239);
//   top: 0;
//   height: 100%;
// }

// .slider-price {
//   margin-top: 25px;
//   text-align: center;
// }
// .slider-price p {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
// }
// .slider-price p .btn {
//   width: 100px;
// }
// .slider-price input#amount {
//   background: transparent;
//   border: transparent;
//   color: #333;
//   text-align: left;
//   font-weight: 700;
//   word-spacing: 15px;
// }
// .slider-price input#amount:focus {
//   outline: none;
//   -webkit-box-shadow: none;
//   box-shadow: none;
// }
