<footer class="footer">
  <div class="container">
    <div class="row">
      <div class=" col-xl-4 col-lg-4 col-sm-6">
        <div class="single-footer pb--40">
          <div class="footer-logo">
            <img src="assets/imgs/logo/logo.png" alt="">
          </div>
          <div class="footer-contact">
            <p><span class="label">Địa chỉ: </span><span class="text">Đại học Nông Lâm, Thành phố Thủ Đức</span></p>
            <p><span class="label">Điện thoại: </span><span class="text">+84 8008 612</span></p>
            <p><span class="label">Email: </span><span class="text">thegioidochoi@gmail.com</span></p>
          </div>
        </div>
      </div>
      <div class=" col-xl-4 col-lg-4 col-sm-6">
        <div class="single-footer pb--40">
          <div class="footer-title">
            <h3>Địa chỉ bán lẻ</h3>
          </div>
          <div class="footer-contact">
            <p><span class="label">Địa chỉ: </span><span class="text">Đại học Nông Lâm, Thành phố Thủ Đức</span></p>
            <p><span class="label">Điện thoại: </span><span class="text">+84 8008 612</span></p>
            <p><span class="label">Email: </span><span class="text">thegioidochoi@gmail.com</span></p>
          </div>
        </div>
      </div>
      <div class=" col-xl-4 col-lg-4 col-sm-6">
        <div class="footer-title">
          <h3>Theo dõi để nhận tin mới nhất</h3>
        </div>
        <div class="newsletter-form mb--30">
          <form>
            <input type="email" class="form-control" placeholder="Nhập Email của bạn tại đây...">
            <button class="btn btn-subscribe w-100">Gửi</button>
          </form>
        </div>
        <div class="social-block">
          <ul class="social-list">
            <li class="single-social facebook"><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li class="single-social twitter"><a href=""><i class="fab fa-twitter"></i></a></li>
            <li class="single-social google"><a href=""><i class="fab fa-google-plus-g"></i></a></li>
            <li class="single-social youtube"><a href=""><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
