$color-bold-blue: #00afef;
$color-blue: #46ccfd;
$color-gray: #7b7b7b;

///////////////Tab/////////////////

.section-padding {
  margin-top: 50px;
}

.sb-custom-tab {
  text-align: center;
  .nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e5e5e5;
    border-radius: 3px;

    .nav-item {
      font-size: 15px;
      color: #282828;
      line-height: 48px;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      background: #fff;
      position: relative;
      margin: 1px;
      border-radius: 3px;

      .nav-link {
        padding: 0 20px;
        border: 2px solid transparent;
        margin: -2px;
        transition: border-color 0s, color 0.4s;
        :hover {
          color: $color-blue;
        }
      }
      .nav-link.active,
      .nav-link.show {
        border-color: $color-blue;
        color: $color-blue;
      }

      .nav-link.active ~ .arrow-icon,
      .nav-link.show ~ .arrow-icon {
        opacity: 1;
      }
    }
  }
  .tab-content {
    > .tab-pane {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: 0s;
      height: 0;
    }

    .tab-pane.show,
    .tab-pane.active {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
    > .active {
      display: block;
    }
  }
}
.size-16 {
  font-size: 16px;
}

#sale-banner {
  a {
    display: inline-block;
    width: 100%;
  }
}
