<app-hero-area></app-hero-area>
<app-age-area></app-age-area>
<app-feature-home></app-feature-home>
<app-fuild-banner [img_src]="'assets/imgs/home/banner/banner-full.png'"></app-fuild-banner>
<app-sale-area></app-sale-area>
<app-best-saller></app-best-saller>
<app-person-traffic [sectionTitle]="'Búp bê - Robot'"></app-person-traffic>
<app-person-traffic [sectionTitle]="'Phương tiện giao thông'"></app-person-traffic>
<app-fuild-banner [img_src]="'assets/imgs/home/banner/readbookbanner.jpg'"></app-fuild-banner>
<app-blog-area></app-blog-area>
