<app-hero-area></app-hero-area>
<app-age-area></app-age-area>
<app-feature-home [bestsaller]="bestsaller" [latest]="latest" [hightlight]="hightlight"></app-feature-home>
<app-fuild-banner [img_src]="'assets/imgs/home/banner/banner-full.png'"></app-fuild-banner>
<app-sale-area [saleProducts]="sale"></app-sale-area>
<app-best-saller [bestSaller]="bestsaller_area"></app-best-saller>
<app-person-traffic [products]="bupbe_robot" [sectionTitle]="'Búp bê - Robot'"></app-person-traffic>
<app-person-traffic [products]="ptgt" [sectionTitle]="'Phương tiện giao thông'"></app-person-traffic>
<app-fuild-banner [img_src]="'assets/imgs/home/banner/readbookbanner.jpg'"></app-fuild-banner>
<app-blog-area [blogs]="blog"></app-blog-area>
