<!-- Price -->
<div class="single-block">
  <h3 class="sidebar-title filter-sidebar">Lọc theo giá</h3>

<!--  <p class="margin-top-50">-->
<!--    <input type="text" id="amount" readonly style="border:0; font-weight:bold;">-->
<!--  </p>-->

<!--  <div id="slider-range" (click)="click(from_html.innerText,to_html.innerText)" class="range-slider-widget cursor-pointer"></div>-->
  <ngx-slider class="cursor-pointer" #slider [(value)]="value" [(highValue)]="highValue" [options]="options" (click)="getValue(slider.value,slider.highValue)"></ngx-slider>
  <div class="range-slider-value">
    <div id="cost-from">{{value | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</div>
    <div class="hyphen">-</div>
    <div id="cost-to" >{{highValue | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</div>
  </div>
</div>
