<app-breadcrumb [parent_title]="'Trang chủ'" child_title="Sản phẩm"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-lg-9  order-2">
      <app-shop-toolbar></app-shop-toolbar>
      <!-- Product grid -->

      <app-product-list></app-product-list>
      <!-- Pagination Block -->
      <app-pagination></app-pagination>

    </div>
    <div id="left-sidebar" class="col-lg-3 container">
      <!-- Categories -->
      <app-categories></app-categories>
      <!-- Price -->
      <app-product-range-slide></app-product-range-slide>
      <app-age-gender [title]="'Độ tuổi'" [content]="[['tu-1-6','Từ 1-6 tuổi'],['tu-6-11','Từ 6-11 tuổi'],['tren-11','Trên 11 tuổi']]" ></app-age-gender>
      <app-age-gender [title]="'Giới tính'" [content]="[['nam','Nam'],['nu','Nữ'],['both','Cả 2']]"></app-age-gender>
      <!-- Promotion Block -->
      <div class="single-block mt-4">
          <img src="../../../assets/imgs/product/sale.png" alt="">
      </div>
    </div>
  </div>
</div>
