//thong tin mua hang
label{
  color: #1a1f2b;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  margin: 0 0 5px;
}
input{
  width: 100%;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 23px;
  padding: 10px 20px;
  font-size: 14px;
  color: #14191e;
  margin-bottom: 15px;
}
input:focus{
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-color: #00afef;
}
.order-note-block{
  label{
    font-family: Rubik, Arial, Helvetica, sans-serif;
    margin: 0 0 5px;
    line-height: 2;
    color: #333;
  }
  textarea{
    height: 100px;
    line-height: 1.5;
    padding: 10px;
    width: 100%;
    background: #f4f4f4;
    border: none;
  }
  textarea:focus{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #00afef;
  }
}

//thong tin san pham
.checkout-cart-total{
  h4 span{
    @media (min-width: 399px) {
      float: right!important;
      display: block!important;
    }
  }
  ul{
    border-bottom: 1px solid #dfdfdf;
    color: #333;
    li{
      color: inherit;
      font-size: 14px;
      line-height: 23px;
      font-weight: 500;
      display: block;
      margin-bottom: 16px;
      overflow: hidden;
      span{
        @media (min-width: 399px) {
          color: inherit!important;
          float: right!important;
        }
      }
      span.left{
        @media (min-width: 399px) {
          width: 70%!important;
          float: left!important;
        }
      }
    }
  }
  p{
    font-size: 14px;
    line-height: 30px;
    font-weight: 600;
    color: #333;
    padding: 10px 0;
    border-bottom: 1px solid #dfdfdf;
    margin: 0;
    span{
      @media (min-width: 399px) {
        float: right!important;
      }
    }
  }
  .place-order{
    @media (min-width: 329px) {
      border-radius: 3px;
      height: 50px;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 6px 20px;
      font-weight: 500;
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;
      background-color: #00afef;
      background-color: #00afef;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
    }
    @media (max-width: 329px) {
      border-radius: 3px;
      height: 50px;
      border: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 6px 20px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
      background-color: #00afef;
      background-color: #00afef;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      h4{
        font-size: 12px!important;
      }
    }


  }
}
.checkout-title{
  @media (max-width: 400px) {
    font-size: 18px!important;
  }
}
.title-product{
  margin-bottom: 20px;
  margin-top: 20px  ;
  @media (max-width: 400px) {
    font-size: 15px!important;
  }
}
.total-after{
  margin-bottom: 20px;
  margin-top: 20px  ;
  @media (max-width: 400px) {
    font-size: 15px!important;
  }
}
