<div class="site-wrapper" id="top">
  <app-breadcrumb [parent_title]="'Trang chủ'" child_title="Thanh toán"></app-breadcrumb>
  <main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Checkout Form s-->
          <div class="checkout-form">
            <div class="row row-40">
              <div class="col-lg-7 mb--20">
                <app-billing-address></app-billing-address>
              </div>
              <div class="col-lg-5">
                <div class="row">
                  <!-- Cart Total -->
                  <div class="col-12">
                    <div class="checkout-cart-total">
                      <h2 class="checkout-title">Hóa đơn của bạn</h2>
                      <h4 class="title-product">Tên sản phẩm x số lượng<span class="total-must">Tổng</span></h4>
                      <ul>
                        <li *ngFor="let c of cartItem"><span class="left float-left-must">{{c.name}} X {{c.quantity}}</span> <span
                          class="right float-right-must">{{c.totalPrice()| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></li>
                      </ul>
                      <p>Tổng <span>{{totalPriceOfAllProduct()| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
                      <p>Phí vận chuyển<span>{{30000| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
                      <h4 class="total-after">Thành tiền<span>{{totalPriceOfAllProduct()+30000| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></h4>
                      <button class="place-order w-100 pay-directly-must"><h4>THANH TOÁN NGAY</h4></button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
