<div class="site-wrapper" id="top">
  <app-breadcrumb ></app-breadcrumb>
  <main id="content" class="page-section inner-page-sec-padding-bottom space-db--20">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Checkout Form s-->
          <div class="checkout-form">
            <div class="row row-40">
              <div class="col-lg-7 mb--20">
<!--                <app-billing-address></app-billing-address>-->
                <!-- Billing Address -->
                <form [formGroup]="checkoutForm" id="billing-form" class="mb-40">
                  <h4 class="checkout-title">Địa chỉ nhận hàng</h4>
                  <div class="row">
                    <div class="col-md-6 col-12 mb--20">
                      <label>Họ*</label>
                      <input formControlName="firstname" name="firstname" type="text" placeholder="Họ" required value="">
                      <small class="error-form text-danger" *ngIf="f.firstname.errors?.required">
                        Bạn chưa nhập Họ</small>
                    </div>
                    <div class="col-md-6 col-12 mb--20">
                      <label>Tên*</label>
                      <input formControlName="lastname" type="text" placeholder="Tên" required>
                      <small class="error-form text-danger" *ngIf="f.lastname.errors?.required">Bạn chưa nhập Tên</small>
                    </div>
                    <div class="col-12 mb--20">
                      <label>Số điện thoại*</label>
                      <input formControlName="phone" type="number" placeholder="+84" required>
                      <small class="error-form text-danger" *ngIf="f.phone.errors?.required">Bạn chưa nhập Số điện thoại</small>
                    </div>
                    <div class="col-12 mb--20">
                      <label>Email*</label>
                      <input formControlName="email" type="email" placeholder="Email" required>
                      <small class="error-form text-danger" *ngIf="f.email.errors?.required">Bạn chưa nhập Email</small>
                      <small class="error-form text-danger" *ngIf="f.email.errors?.email">Email không hợp lệ</small>
                    </div>
                    <div class="col-12 mb--20">
                      <label>Địa chỉ*</label>
                      <input formControlName="address" type="text" placeholder="Số nhà, xã/phường, tỉnh/thành phố" required>
                      <label class="error-form text-danger" *ngIf="f.address.errors?.required">Bạn chưa nhập địa chỉ</label>
                    </div>
                  </div>
                </form>
<!--            form    -->
                <!-- Shipping Address -->
                <div class="order-note-block mt--30">
                  <label for="order-note">Ghi chú</label>
                  <textarea id="order-note" cols="30" rows="10" class="order-note"
                            placeholder="Nội dung ghi chú"></textarea>
                </div>

              </div>
              <div class="col-lg-5">
                <div class="row">
                  <!-- Cart Total -->
                  <div class="col-12">
                    <div class="checkout-cart-total">
                      <h2 class="checkout-title">Hóa đơn của bạn</h2>
                      <h4 class="title-product">Tên sản phẩm x số lượng<span class="total-must">Tổng</span></h4>
                      <ul>
                        <li *ngFor="let c of cartItem"><span class="left float-left-must">{{c.name}} X {{c.quantity}}</span> <span
                          class="right float-right-must">{{c.totalPrice()| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></li>
                      </ul>
                      <p>Tổng <span>{{totalPriceOfAllProduct()| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
                      <p>Phí vận chuyển<span>{{30000| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
                      <h4 class="total-after">Thành tiền<span>{{totalPriceOfAllProduct()+30000| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></h4>
                      <button type="button" class="w-100 btn btn-secondary" *ngIf="checkoutForm.invalid"><h4>THANH TOÁN NGAY</h4></button>
                      <button type="button" class="place-order w-100 pay-directly-must" data-toggle="modal" data-target="#exampleModal" *ngIf="checkoutForm.valid"><h4>THANH TOÁN NGAY</h4></button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Thanh toán thành công</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetCart()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Cảm ơn bạn đã mua hàng
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetCart()">Trở về</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
