.product-discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0; }

.shopping-cart-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.margin-img-tab {
  margin-top: 30px; }

.card-title:hover {
  color: #007bff; }

.coupon {
  position: absolute;
  left: 20px;
  top: 10px;
  background: red;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  color: white; }

.product-coupon {
  position: relative; }

@media (max-width: 700px) {
  .coupon {
    width: 35px;
    height: 35px;
    left: 18px;
    font-size: 13px; } }
@media (max-width: 230px) {
  .coupon {
    width: 30px;
    height: 30px;
    left: 15px;
    font-size: 11px; } }
@media (max-width: 180px) {
  .coupon {
    width: 20px;
    height: 20px;
    left: 15px;
    padding-top: 3px;
    font-size: 8px; } }
@media (min-width: 1200px) {
  .img-wrap {
    height: 240px;
    width: 240px; } }
@media (max-width: 1200px) {
  .img-wrap {
    height: 210px;
    width: 210px; } }
@media (max-width: 768px) {
  .img-wrap {
    height: 210px;
    width: 210px; } }
@media (max-width: 576px) {
  .img-wrap {
    height: 280px;
    width: 280px; } }
@media (max-width: 500px) {
  .img-wrap {
    height: 250px;
    width: 250px; } }
@media (max-width: 450px) {
  .img-wrap {
    height: 230px;
    width: 230px; } }
@media (max-width: 400px) {
  .img-wrap {
    height: 210px;
    width: 210px; } }
@media (max-width: 350px) {
  .img-wrap {
    height: 190px;
    width: 190px; } }
@media (max-width: 300px) {
  .img-wrap {
    height: 180px;
    width: 180px; } }
@media (max-width: 240px) {
  .img-wrap {
    height: 150px;
    width: 150px; } }
@media (max-width: 200px) {
  .img-wrap {
    height: 120px;
    width: 120px; } }
@media (max-width: 170px) {
  .img-wrap {
    height: 100px;
    width: 100px; } }
.img-wrap {
  position: relative;
  margin-bottom: 20px; }

#add-cart-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 30px;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.762); }

#add-cart-animate .add-cart-gif {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 25%;
  top: 25%; }

.img-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.coupon {
  z-index: 10; }

.p-relative {
  position: relative; }

.p-absolute {
  position: absolute;
  top: 0;
  left: 0; }

.btn {
  margin-bottom: 10px; }

@media (min-width: 576px) {
  .img-card {
    height: 32px;
    width: 32px; }

  .img-adding-card {
    height: 38px;
    width: 35px; } }
@media (max-width: 576px) {
  .img-card {
    height: 32px;
    width: 32px;
    left: 40%; }

  .img-adding-card {
    height: 38px;
    width: 35px;
    left: 40%; } }
@media (max-width: 575px) {
  .product-coupon {
    padding: 0 100px 0 100px; } }
@media (max-width: 475px) {
  .product-coupon {
    padding: 0 80px 0 80px; } }
@media (max-width: 375px) {
  .product-coupon {
    padding: 0 40px 0 40px; } }
@media (max-width: 285px) {
  .product-coupon {
    padding: 0 20px 0 20px; } }
@media (max-width: 230px) {
  .product-coupon {
    padding: 0 5px 0 5px; } }
.eye-view {
  margin-bottom: -30px;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  background: rgba(255, 255, 255, 0.68);
  z-index: 5; }
  .eye-view i {
    margin-top: 2px;
    color: #00afef;
    font-size: 20px; }

/*# sourceMappingURL=product-card-sale.component.css.map */
