<div class="interested-title">
  <h3>Bạn có thể thích</h3>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="product-item">
      <div class="product-img">
        <img class="center" src="assets/imgs/products/toy1.jpg">
      </div>
      <div class="product-card card-body">
        <h5 class="card-title text-center">Bộ dụng cụ trang điểm</h5>
        <div class="row">
          <div class="col-sm-9 col-12">
            <p class="product-price  text-center card-text">
              420.000 VNĐ</p>
            <p class="product-price-discount text-center card-text">
              420.000 VNĐ</p>
          </div>
          <button href="#" class="btn col-sm-3 col-12 btn-cart ">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="product-item">
      <div class="product-img">
        <img src="assets/imgs/products/toy1.jpg">
      </div>
      <div class="product-card card-body">
        <h5 class="card-title text-center">Bộ dụng cụ trang điểm</h5>
        <div class="row">
          <div class="col-sm-9 col-12">
            <p class="product-price  text-center card-text">
              420.000 VNĐ</p>
            <p class="product-price-discount text-center card-text">
              420.000 VNĐ</p>
          </div>
          <button href="#" class="btn col-sm-3 col-12 btn-cart ">
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
