<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>rangeSlider.js</title>
    <link rel="stylesheet" href="rangeSlider.css" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="demo-wrapper">
      <h1>Preview rangeSlider.js (jQuery plugin) 🚥</h1>
      <a
        style="text-decoration: none; color: crimson; font-weight: bold"
        target="_blank"
        href="https://github.com/skinnynpale/rangeSlider.js"
        >to GitHub repository</a
      >
      <!-- <div id="anchorDestroy"></div>
      <div id="anchor"></div> -->
      <div id="anchor2"></div>
      <!-- <div id="anchor3"></div>
      <div id="anchor4"></div> -->
    </div>

    <script src="../js/jquery.js"></script>
    <script src="../js/rangeSlider.js"></script>
    <script src="../js/common.js"></script>
  </body>
</html>
