<section class="related-product">
  <div class="container">
    <div class="related-title">
      <h2>Sản phẩm tương tự</h2>
    </div>
    <div class="row">
      <div class="col-lg-3" *ngFor="let product of listProducts">
        <div class="product-item">
          <div class="product-img">
            <img src="{{product.images[0]}}">
          </div>
          <div class="product-card card-body">
            <h5 class="card-title text-center">{{product.name}}</h5>
            <div class="row">
              <div class="col-sm-9 col-12">
                <p class="product-price text-center card-text">
                  {{product.price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</p>
                <p class="product-price-discount text-center card-text">
                  {{product.price_sale | currency:'VND':'symbol':'1.0-0':'vi-VN'}} </p>
              </div>
              <button href="#" class="btn col-sm-3 col-12 btn-cart">
                <i class="fas fa-shopping-cart"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
