<!--=================================
       Búp bê -robot
       ===================================== -->
<section id="doll-robot" class="margin-50">
  <div class="container">
    <div class="section-title section-title--bordered">
      <h2>{{sectionTitle}}</h2>
    </div>
    <ngx-slick-carousel class="carousel sb-slick-slider "
                        #slickModal="slick-carousel"
                        [config]="slideConfig">

      <div *ngFor="let productCard of products" ngxSlickItem class="slide">
        <app-product-card-sale (getProductQuickView)="getProductQuickView($event)" [product]="productCard"></app-product-card-sale>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
