<!--=================================
       Hero Area
       ===================================== -->
<!--<section class="hero-area" style="margin-top: 10px">-->
<!--  <div class="sb-slick-slider" data-slick-setting='{-->
<!--                            "autoplay": true,-->
<!--                            "infinite": true,-->
<!--                            "fade": true,-->
<!--                            "autoplaySpeed": 1000,-->
<!--                            "speed": 5000,-->
<!--                            "slidesToShow": 1,-->
<!--                            "dots":true-->
<!--                            }'>-->

<!--    <div class="bg-shade-whisper  ">-->
<!--      <div class="container">-->
<!--        <div class="home-content text-center text-sm-left position-relative  ">-->
<!--          <div class="hero-partial-image image-right">-->
<!--            <img src="assets/imgs/home/banner/banner1.png" alt="">-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-xl-6 col-md-6 col-sm-7">-->
<!--              <div class="content-left-side">-->
<!--                <h1>Mua gì cũng có<br>-->
<!--                  Đồ chơi xịn xò</h1>-->
<!--                <h2>Giảm sốc cùng hè</h2>-->
<!--                <a [routerLink]="['/product']" class="btn btn-outline-primary">-->
<!--                  Mua ngay-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="bg-pink-whisper">-->
<!--      <div class="container">-->
<!--        <div class="home-content text-center text-sm-left position-relative">-->
<!--          <div class="hero-partial-image image-left">-->
<!--            <img src="assets/imgs/home/banner/banner3.png" alt="">-->
<!--          </div>-->
<!--          <div class="row align-items-center justify-content-start justify-content-md-end">-->
<!--            <div class="col-lg-6 col-xl-7 col-md-6 col-sm-7">-->
<!--              <div class="content-left-side">-->
<!--                <h1>Mua gì cũng có <br>-->
<!--                  Đồ chơi xịn xò</h1>-->
<!--                <h2>Giảm sốc cùng hè</h2>-->
<!--                <a routerLink="/product" class="btn btn-outline-primary">-->
<!--                  Mua ngay-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<section class="hero-area">
  <ngx-slick-carousel class="carousel sb-slick-slider"
                      #slickModal="slick-carousel"
                      [config]="slideConfig">
    <div ngxSlickItem class="bg-shade-whisper">
      <div class="container">
        <div class="home-content text-center text-sm-left position-relative  ">
          <div class="hero-partial-image image-right">
            <img src="assets/imgs/home/banner/banner1.png" alt="">
          </div>
          <div class="row">
            <div class="col-xl-6 col-md-6 col-sm-7">
              <div class="content-left-side">
                <h1>Mua gì cũng có<br>
                  Đồ chơi xịn xò</h1>
                <h2>Giảm sốc cùng hè</h2>
                <a [routerLink]="['/product']" class="btn btn-outline-primary">
                  Mua ngay
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="bg-pink-whisper">
      <div class="container">
        <div class="home-content text-center text-sm-left position-relative">
          <div class="hero-partial-image image-left">
            <img src="assets/imgs/home/banner/banner3.png" alt="">
          </div>
          <div class="row align-items-center justify-content-start justify-content-md-end">
            <div class="col-lg-6 col-xl-7 col-md-6 col-sm-7">
              <div class="content-left-side">
                <h1>Mua gì cũng có <br>
                  Đồ chơi xịn xò</h1>
                <h2>Giảm sốc cùng hè</h2>
                <a routerLink="/product" class="btn btn-outline-primary">
                  Mua ngay
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>
