
//////////////////Hero-area/////////////////
.container-fluid {
  padding: 0px !important;
}
.hero-area {
  .bg-shade-whisper {
    background: #dafcfb;
    //background-image: url("src/assets");
    background-image: url(/assets/imgs/home/banner/banner10.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .bg-pink-whisper {
    background: #ffe0f1;
    background-image: url(/assets/imgs/home/banner/banner11.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .home-content {
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px;
    }
    @media (min-width: 992px) {
      min-height: 440px;
    }
    @media (min-width: 1200px) {
      min-height: 410px;
    }
    @media (min-width: 1600px) {
      min-height: 560px;
    }
    h1 {
      color: #ff6046;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      padding: 0;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 22px;
      @media (min-width: 576px) {
        font-size: 30px;
      }
      @media (min-width: 768px) {
        line-height: 1.5;
        font-size: 40px;
      }
      @media (min-width: 1200px) {
        font-size: 45px;
      }
      @media (min-width: 1600px) {
        font-size: 60px;
      }
    }
    h2 {
      color: #ffc800;
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.2;
      padding: 0;
      font-size: 16px;

      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 992px) {
        font-size: 22px;
      }
      @media (min-width: 1200px) {
        font-size: 30px;
      }
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    .btn {
      line-height: 40px;
      font-size: 13px;
      text-transform: capitalize;
      padding: 0 20px;
      min-height: 40px;
      margin-top: 57px;
      margin-bottom: 50px;

      @media (min-width: 576px) {
        padding: 0 30px;
        margin: 30px 0 50px 0;
      }
      @media (min-width: 1200px) {
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px;
      }
    }
    .hero-partial-image {
      position: relative;
      margin-bottom: 10px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      @media (min-width: 480px) {
        width: 50%;
      }
      @media (min-width: 576px) {
        z-index: -1;
        position: absolute;
        width: 65%;
      }
      @media (min-width: 768px) {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0;
      }
      @media (min-width: 992px) {
        margin-left: 0;
        width: 58%;
      }
      @media (min-width: 1200px) {
        width: 58%;
      }
      @media (min-width: 1600px) {
        top: 35px;
        width: auto;
      }
      img {
        width: 100%;
      }
    }
    .image-left {
      right: 0;
      @media (min-width: 576px) {
        right: -75px;
      }

      @media (min-width: 768px) {
        margin-left: -20px;
        left: 0;
        right: auto;
        bottom: auto;
        width: 65%;
      }
      @media (min-width: 992px) {
        width: 58%;
        margin-left: 0px;
      }
      @media (min-width: 1200px) {
        width: 45%;
      }
      @media (min-width: 1600px) {
        width: auto;
        margin-left: -60px;
      }
    }

    .image-right {
      left: 0;

      @media (min-width: 576px) {
        left: auto;
        right: -75px;
      }
      @media (min-width: 768px) {
        right: 0;
        margin-right: 0px;
        width: 55%;
        margin-top: 50px;
      }
      @media (min-width: 1200px) {
        width: 50%;
        margin-right: 60px;
        margin-top: 10px;
      }
      @media (min-width: 1600px) {
        margin-right: 0px;
        width: auto;
      }
    }
    .content-right-side {
      @media (min-width: 1600px) {
        padding-left: 85px;
      }
    }
    .content-left-side {
      margin-left: 100px;
      @media (max-width: 998px) {
        margin-left: 0;
      }
    }
    @media (min-width: 1200px) {
      a {
        padding-top: 5px !important;
      }
    }
  }

}
.slick-dots {
  margin-top: -50px !important;
}
