.container-fluid {
  padding: 0px !important; }

.hero-area .bg-shade-whisper {
  background: #dafcfb;
  background-image: url(/assets/imgs/home/banner/banner10.png) !important;
  background-repeat: no-repeat, repeat; }
.hero-area .bg-pink-whisper {
  background: #ffe0f1;
  background-image: url(/assets/imgs/home/banner/banner11.png) !important;
  background-repeat: no-repeat, repeat; }
.hero-area .home-content {
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .hero-area .home-content {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px; } }
  @media (min-width: 992px) {
    .hero-area .home-content {
      min-height: 440px; } }
  @media (min-width: 1200px) {
    .hero-area .home-content {
      min-height: 410px; } }
  @media (min-width: 1600px) {
    .hero-area .home-content {
      min-height: 560px; } }
  .hero-area .home-content h1 {
    color: #ff6046;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 22px; }
    @media (min-width: 576px) {
      .hero-area .home-content h1 {
        font-size: 30px; } }
    @media (min-width: 768px) {
      .hero-area .home-content h1 {
        line-height: 1.5;
        font-size: 40px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content h1 {
        font-size: 45px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content h1 {
        font-size: 60px; } }
  .hero-area .home-content h2 {
    color: #ffc800;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    margin: 0;
    line-height: 1.2;
    padding: 0;
    font-size: 16px; }
    @media (min-width: 576px) {
      .hero-area .home-content h2 {
        font-size: 16px; } }
    @media (min-width: 768px) {
      .hero-area .home-content h2 {
        font-size: 22px; } }
    @media (min-width: 992px) {
      .hero-area .home-content h2 {
        font-size: 22px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content h2 {
        font-size: 30px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content h2 {
        font-size: 40px; } }
  .hero-area .home-content .btn {
    line-height: 40px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 20px;
    min-height: 40px;
    margin-top: 57px;
    margin-bottom: 50px; }
    @media (min-width: 576px) {
      .hero-area .home-content .btn {
        padding: 0 30px;
        margin: 30px 0 50px 0; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .btn {
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px; } }
  .hero-area .home-content .hero-partial-image {
    position: relative;
    margin-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    @media (min-width: 480px) {
      .hero-area .home-content .hero-partial-image {
        width: 50%; } }
    @media (min-width: 576px) {
      .hero-area .home-content .hero-partial-image {
        z-index: -1;
        position: absolute;
        width: 65%; } }
    @media (min-width: 768px) {
      .hero-area .home-content .hero-partial-image {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0; } }
    @media (min-width: 992px) {
      .hero-area .home-content .hero-partial-image {
        margin-left: 0;
        width: 58%; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .hero-partial-image {
        width: 58%; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .hero-partial-image {
        top: 35px;
        width: auto; } }
    .hero-area .home-content .hero-partial-image img {
      width: 100%; }
  .hero-area .home-content .image-left {
    right: 0; }
    @media (min-width: 576px) {
      .hero-area .home-content .image-left {
        right: -75px; } }
    @media (min-width: 768px) {
      .hero-area .home-content .image-left {
        margin-left: -20px;
        left: 0;
        right: auto;
        bottom: auto;
        width: 65%; } }
    @media (min-width: 992px) {
      .hero-area .home-content .image-left {
        width: 58%;
        margin-left: 0px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .image-left {
        width: 45%; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .image-left {
        width: auto;
        margin-left: -60px; } }
  .hero-area .home-content .image-right {
    left: 0; }
    @media (min-width: 576px) {
      .hero-area .home-content .image-right {
        left: auto;
        right: -75px; } }
    @media (min-width: 768px) {
      .hero-area .home-content .image-right {
        right: 0;
        margin-right: 0px;
        width: 55%;
        margin-top: 50px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .image-right {
        width: 50%;
        margin-right: 60px;
        margin-top: 10px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .image-right {
        margin-right: 0px;
        width: auto; } }
  @media (min-width: 1600px) {
    .hero-area .home-content .content-right-side {
      padding-left: 85px; } }
  .hero-area .home-content .content-left-side {
    margin-left: 100px; }
    @media (max-width: 998px) {
      .hero-area .home-content .content-left-side {
        margin-left: 0; } }
  @media (min-width: 1200px) {
    .hero-area .home-content a {
      padding-top: 5px !important; } }
.hero-area .slick-dots {
  margin-top: -50px !important; }

/*# sourceMappingURL=hero-area.component.css.map */
