<!--=================================
       sale product
       ===================================== -->
<section class="section-margin">
  <div class="container-fluid">
    <ngx-slick-carousel class="carousel sb-slick-slider "
                        #slickModal="slick-carousel"
                        [config]="slideConfig">

      <div *ngFor="let productCard of saleProducts" ngxSlickItem class="slide">
        <app-product-card-sale (getProductQuickView)="getProductQuickView($event)" [product]="productCard"></app-product-card-sale>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
