<app-header></app-header>
<!--<breadcrumb #parent>-->
<!--  <ol class="breadcrumb">-->
<!--    <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs" let-i="index">-->
<!--      <li *ngIf="i != parent.breadcrumbs.length-1" class="breadcrumb-item">-->
<!--        <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>-->
<!--      </li>-->
<!--      <li *ngIf="i == parent.breadcrumbs.length-1" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>-->
<!--    </ng-template>-->
<!--  </ol>-->
<!--</breadcrumb>-->
<div [@routeAnimation]="prepareRoute(myOutlet)">
  <router-outlet #myOutlet='outlet'></router-outlet>
</div>
<button *ngIf="isShow" (click)="gotoTop()">
  <img src="assets/imgs/arrow/arrow.png">
</button>
<app-footer></app-footer>
