<div *ngIf="product">
  <div class="card product-coupon">

    <div class="coupon margin-img-tab" *ngIf="product.percentSale !=0">
      -{{product.percentSale}}%
    </div>

    <img class="card-img-top rounded mx-auto d-block img-thumbnail margin-img-tab"
         src="{{product.images[0]}}"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title size-16 font-weight-bolder">Đồ chơi mô hình lắp ráp Bugatti Chiron
      </h5>
      <div *ngIf="product.percentSale !=0; else elseBlock">
        <div class="row">

          <div class="product-price col-sm-9 col-12">

            <p class="card-text font-weight-bold text-muted text-center product-discount currency">
              {{product.price}}</p>
            <p class="card-text font-weight-bold text-primary size-16 text-center currency">
              {{product.price_sale}}</p>

          </div>
          <button href="#" class="btn col-sm-3 col-12 ">
            <img src="/assets/imgs/product/cart.png" class="shopping-cart-center" alt="">
          </button>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="row">
          <p
            class="card-text font-weight-bold text-primary col-sm-9 col-12 size-16 text-center currency">{{product.price}}</p>
          <button href="#" class="btn col-sm-3 col-12 ">
            <img src="/assets/imgs/product/cart.png" class="shopping-cart-center" alt="">
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
