<section class="describe-product">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="describe-title">
          <h2>Mô tả sản phẩm</h2>
        </div>
        <div class="describe-content">

          <p>Super Wings là bộ phim hoạt hình nổi tiếng đến từ Hàn Quốc, nhận được nhiều sự yêu thích của trẻ em trên toàn thế giới.</p><p>Robot biến hình kết hợp xe cứu hộ nhỏ - cảnh sát Paul</p><p>- Biến đổi dễ dàng từ robot cao gần 7 inch thành xe cứu hộ nhỏ qua 3 bước biến hình đơn giản.<br> - Với bánh xe cao su và thang cứu hộ mở rộng tạo cảm giác chân thật khi chơi.<br> - Kích thích tư duy thông qua trò chơi, rèn luyện ngón tay và trí tưởng tượng của bé khi hoá thân vào nhân vật yêu thích.</p><p>Thông tin sản phẩm:<br> - Sản phẩm sử dụng nhựa cao cấp đảm bảo an toàn cho bé. <br> - Thích hợp cho bé từ 3 tuổi trở lên.<br> - Sản phẩm không sử dụng Pin</p><p><img style='vertical-align: baseline; display: block; margin-left: auto; margin-right: auto;' src='https://www.mykingdom.com.vn/media/wysiwyg/Long/Line_Robot_bi_n_h_nh_si_u_xe_c_u_h_nh_.png' width='711' height='400'></p>

        </div>
      </div>
    </div>
  </div>
</section>
