<div class="site-wrapper" id="top">
  <div class="site-header d-none d-lg-block">
    <div class="header-middle pt--10 pb--10" (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed':'nofixed'">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 ">
            <a [routerLink]="['/home']" class="site-brand">
              <img src="assets/imgs/logo/logo.png" alt="">
            </a>
          </div>
          <div class="col-lg-3">
            <div class="header-phone ">
              <div class="icon">
                <i class="fas fa-headphones-alt"></i>
              </div>
              <div class="text">
                <p>Hỗ trợ khách hàng 24/7</p>
                <p class="font-weight-bold number">+84385486780</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="main-navigation flex-lg-right">
              <ul class="main-menu menu-right ">
                <li class="menu-item has-children nav-item">
                  <a class="nav-link"  [class.active]="homeActive"  [routerLink]="['/home']" >Trang chủ </a>
                </li>
                <!-- Shop -->
                <li class="menu-item has-children mega-menu nav-item">
                  <a class="nav-link" [class.active]="productActive" [routerLink]="['/product']" >Mua sắm</a>
                </li>
                <!-- Pages -->
                <li class="menu-item has-children nav-item">
                  <a class="nav-link" [class.active]="blogActive" [routerLink]="['/blog']" >Bài viết</a>
                </li>
                <li class="menu-item nav-item">
                  <a class="nav-link" [class.active]="contactActive" [routerLink]="['/contact']" >Liên hệ</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom pb--10" >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3">
            <nav class="category-nav" [class.show]="showToggle">
              <div>
                <a (click)="show()"  href="javascript:void(0)" class="category-trigger"><i
                  class="fas fa-bars"></i>Danh mục đồ chơi</a>
                <ul *ngIf="showToggle" @fade class="category-menu">
                  <li class="cat-item has-children"><a href="javascript:void(0)">Đồ chơi vận động</a>
                    <ul class="sub-menu">
                      <li (click)="category_click('dochoidangoai')"><a href="javascript:void(0)">Đồ chơi dã ngoại</a></li>
                      <li (click)="category_click('dodungnhabep')"><a href="javascript:void(0)">Đồ dùng nhà bếp</a></li>
                      <li (click)="category_click('dochoiduoinuoc')"><a href="javascript:void(0)">Đồ chơi dưới nước</a></li>
                      <li (click)="category_click('xe')"><a href="javascript:void(0)">Xe</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a>Đồ chơi trí tuệ</a>
                    <ul class="sub-menu">
                      <li (click)="category_click('lego')"><a href="javascript:void(0)">Lego</a></li>
                      <li (click)="category_click('smartgame')"><a href="javascript:void(0)">Smart game</a></li>
                      <li (click)="category_click('puzzle')"><a href="javascript:void(0)">Puzzle</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a>Phương tiện giao thông</a>
                    <ul class="sub-menu">
                      <li (click)="category_click('mohinhxe')"><a href="javascript:void(0)">Mô hình xe</a></li>
                      <li (click)="category_click('maybaytenlua')"><a href="javascript:void(0)">Máy bay, tên lửa</a></li>
                      <li (click)="category_click('xedieukhien')"><a href="javascript:void(0)">Xe điều khiển</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a>Nhân vật</a>
                    <ul class="sub-menu">
                      <li (click)="category_click('bupbe')"><a href="javascript:void(0)">Búp bê</a></li>
                      <li (click)="category_click('robot')"><a href="javascript:void(0)">Robot</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-lg-5">
            <div *ngIf="this.search!=undefined"  class="header-search-block">
              <input #text type="text" (keydown.enter)="searchRoute(text.value)" placeholder="Tên đồ chơi" [value]="this.search">
              <button (click)="searchRoute(text.value)">Tìm kiếm</button>
            </div>
            <div *ngIf="this.search==undefined"  class="header-search-block">
              <input #text type="text" (keydown.enter)="searchRoute(text.value)"  placeholder="Tên đồ chơi" >
              <button (click)="searchRoute(text.value)">Tìm kiếm</button>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="main-navigation flex-lg-right">
              <div class="cart-widget">
<!--                <div class="login-block">-->
<!--                  <i class="fas fa-heart"></i><a href="login-register.html" class="font-weight-bold">Yêu thích</a>-->
<!--                </div>-->
                <i class="fas fa-heart firstCart"></i>
                <div class="cart-block">
                  <div class="cart-total">
                                            <span class="text-number">
                                                {{numberOfListLoveProduct()}}
                                            </span>
                    <span class="text-item">
                                                Yêu thích
                                            </span>
                    <span class="price">
                      <i class="fa fa-chevron-down chevrondownfirst"></i>
                                            </span>
                  </div>
                  <div class="cart-dropdown-block">
                    <div  *ngFor="let lh of loveItemHeader"  class=" single-cart-block ">
                      <div class="cart-product">
                        <a class="image">
                          <img [routerLink]="['/product',lh.product_id]" src="{{getFirstImage(lh)}}" alt="">
                        </a>
                        <div class="content">
                          <h3 class="title"><a [routerLink]="['/product',lh.product_id]">{{lh.name}}</a></h3>
                          <p class="price"><span class="qty"></span>{{lh.price| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</p>
                          <button (click)="deleteLoveItem(lh)" class="cross-btn"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class=" single-cart-block ">
                      <div class="btn-block">
                        <a [routerLink]="['/love']"class="btn btn--primary">Yêu thích<i
                          class="fa fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                <i class="fas fa-shopping-cart secondCart"></i>
                <div class="cart-block">
                  <div class="cart-total">
                                            <span class="text-number secondNumber">
                                                {{numberOfListProduct()}}
                                            </span>
                    <span class="text-item">
                                                Giỏ hàng
                                            </span>
                    <span class="price">
                                                {{totalPriceOfAllProduct()| currency:'VND':'symbol':'1.0-0':'vi-VN'}}
                      <i class="fa fa-chevron-down"></i>
                                            </span>
                  </div>
                  <div class="cart-dropdown-block">
                    <div  *ngFor="let ch of cartItemHeader"  class=" single-cart-block ">
                      <div class="cart-product">
                        <a class="image">
                          <img  [routerLink]="['/product',ch.product_id]" src="{{ch.image}}" alt="">
                        </a>
                        <div class="content">
                          <h3 class="title"><a [routerLink]="['/product',ch.product_id]">{{ch.name}}</a></h3>
                          <p class="price"><span class="qty">{{ch.quantity}} ×</span>{{ch.price| currency:'VND':'symbol':'1.0-0':'vi-VN'}}</p>
                          <button (click)="deleteCartItem(ch)" class="cross-btn"><i class="fa fa-times"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class=" single-cart-block ">
                      <div class="btn-block">
                        <a [routerLink]="['/cart']" class="btn">Giỏ hàng<i
                          class="fa fa-chevron-right"></i></a>
                        <a [routerLink]="['/cart/checkout']"class="btn btn--primary">Thanh toán <i
                          class="fa fa-chevron-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-mobile-menu">
    <header class="mobile-header d-block d-lg-none pt--10 pb-md--10">
      <div class="container">
        <div class="row align-items-sm-end align-items-center"  (scroll)="onscroll()" [ngClass]="navbarfixed?'fixed2':'nofixed2'">
          <div class="col-md-4 col-7">
            <a [routerLink]="['/home']" class="site-brand">
              <img src="assets/imgs/logo/logo.png" alt="">
            </a>
          </div>
          <div class="col-md-5 order-3 order-md-2">
            <nav class="category-nav"  [class.show]="mobileToggle">
              <div>
                <a (click)="showSlide()"  href="javascript:void(0)" class="category-trigger"><i
                  class="fa fa-bars"></i>Danh mục đồ chơi</a>
                <ul *ngIf="mobileToggle" class="category-menu">
                  <li class="cat-item has-children"><a (click)="showSlideToggle()">Đồ chơi vận động</a>
                    <ul *ngIf="slideMobileToggle" class="sub-menu" style="display: block">
                      <li (click)="category_click('dochoidangoai')"><a href="javascript:void(0)">Đồ chơi dã ngoại</a></li>
                      <li (click)="category_click('dodungnhabep')"><a href="javascript:void(0)">Đồ dùng nhà bếp</a></li>
                      <li (click)="category_click('dochoiduoinuoc')"><a href="javascript:void(0)">Đồ chơi dưới nước</a></li>
                      <li (click)="category_click('xe')"><a href="javascript:void(0)">Xe</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a (click)="showSlideToggle1()">Đồ chơi trí tuệ</a>
                    <ul *ngIf="slideMobileToggle1" class="sub-menu" style="display: block">
                      <li (click)="category_click('lego')"><a href="javascript:void(0)">Lego</a></li>
                      <li (click)="category_click('smartgame')"><a href="javascript:void(0)">Smart game</a></li>
                      <li (click)="category_click('puzzle')"><a href="javascript:void(0)">Puzzle</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a (click)="showSlideToggle2()">Phương tiện giao thông</a>
                    <ul *ngIf="slideMobileToggle2" class="sub-menu" style="display: block">
                      <li (click)="category_click('mohinhxe')"><a href="javascript:void(0)">Mô hình xe</a></li>
                      <li (click)="category_click('maybaytenlua')"><a href="javascript:void(0)">Máy bay, tên lửa</a></li>
                      <li (click)="category_click('xedieukhien')"><a href="javascript:void(0)">Xe điều khiển</a></li>
                    </ul>
                  </li>
                  <li class="cat-item has-children"><a (click)="showSlideToggle3()">Nhân vật</a>
                    <ul *ngIf="slideMobileToggle3" class="sub-menu" style="display: block">
                      <li (click)="category_click('bupbe')"><a href="javascript:void(0)">Búp bê</a></li>
                      <li (click)="category_click('robot')"><a href="javascript:void(0)">Robot</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="col-md-3 col-5  order-md-3 text-right">
            <div class="mobile-header-btns header-top-widget">
              <ul class="header-links">
                <li class="sin-link">
                  <a [routerLink]="['/love']" class="cart-link link-icon"><i class="fas fa-heart firstCart"></i></a>
                </li>
                <li class="sin-link">
                  <a [routerLink]="['/cart']" class="cart-link link-icon"><i class="fa fa-shopping-bag"></i></a>
                </li>
                <li class="sin-link">
                  <a href="javascript:" class="link-icon hamburgur-icon off-canvas-btn" (click)="addOpen()"><i class="fa fa-compass"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!--Off Canvas Navigation Start-->
    <aside class="off-canvas-wrapper" [class.open]="open">
      <div class="btn-close-off-canvas" (click)="closeOpen()">
        <i class="fa fa-chevron-right"></i>
      </div>
      <div *ngIf="open" class="off-canvas-inner">
        <!-- search box start -->
        <div *ngIf="this.search!=undefined" class="search-box offcanvas">
          <form>
            <input #text2 type="text" (keydown.enter)="searchRoute(text2.value)" placeholder="Tên đồ chơi"  [value]="this.search">
            <button (click)="searchRoute(text2.value)" class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div *ngIf="this.search==undefined"  class="search-box offcanvas">
          <form>
            <input #text2 type="text" (keydown.enter)="searchRoute(text2.value)" placeholder="Tên đồ chơi" >
            <button (click)="searchRoute(text2.value)" class="search-btn"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <!-- search box end -->
        <!-- mobile menu start -->
        <div class="mobile-navigation">
          <!-- mobile menu navigation start -->
          <nav class="off-canvas-nav">
            <ul class="mobile-menu main-mobile-menu">
              <li class="menu-item-has-children nav-item menu-item">
                <a class="nav-link" [class.active]="homeActive"  [routerLink]="['/home']" >Trang chủ</a>
              </li>
              <li class="menu-item-has-children nav-item menu-item">
                <a class="nav-link" [class.active]="productActive"  [routerLink]="['/product']" >Mua sắm</a>
              </li>
              <li class="menu-item-has-children nav-item menu-item">
                <a class="nav-link" [class.active]="blogActive"  [routerLink]="['/blog']">Bài viết</a>
              </li>
              <li class="menu-item-has-children nav-item menu-item">
                <a class="nav-link" [class.active]="contactActive"  [routerLink]="['/contact']">Liên hệ</a>
              </li>
            </ul>
          </nav>
          <!-- mobile menu navigation end -->
        </div>
        <!-- mobile menu end -->
      </div>
    </aside>
    <!--Off Canvas Navigation End-->
  </div>
</div>
