<div *ngIf="pagination !==undefined">
<div class="row shop-toolbar">
  <div class="col-xl-7 col-md-6 col-sm-5  mt-md-3">
    Hiển thị từ {{pagination.getStart()+1}} đến {{pagination.getEnd()}} của {{pagination.sumOfItems}} ({{pagination.numOfPage()}} Trang)
  </div>
  <div class="col-lg-5 col-md-6 col-sm-7 ">
    <div class="sorting-selection row">
      <span class="col-sm-5 col-lg-4 ml-0 pl-0">Sắp xếp theo:</span>

      <select #selectElement class="col-sm-7 col-lg-5 form-control sort-select ml-0 pl-0 cursor-pointer" (change)="sortProduct(selectElement.value)">
        <option value="" disabled selected="{{(sort == undefined)?'selected':undefined}}">Chọn</option>
        <option class="small-option cursor-pointer" value="asc" selected="{{(sort == 'asc')?'selected':undefined}}">Giá tăng dần</option>
        <option class="small-option cursor-pointer" value="desc" selected="{{(sort == 'desc')?'selected':undefined}}" >Giá giảm dần</option>

      </select>
    </div>
    </div>
  </div>
</div>
