$color-bold-blue: #00afef;
$color-blue: #46ccfd;
$color-gray: #7b7b7b;
//////////////////Hero-area/////////////////
.container-fluid {
  padding: 0px !important;
}
.hero-area {
  .bg-shade-whisper {
    background: #dafcfb;
    background-image: url(home/banner/banner10.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .bg-pink-whisper {
    background: #ffe0f1;
    background-image: url(home/banner/banner11.png) !important;
    background-repeat: no-repeat, repeat;
  }
  .home-content {
    border-radius: 3px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    @media (min-width: 768px) {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px;
    }
    @media (min-width: 992px) {
      min-height: 440px;
    }
    @media (min-width: 1200px) {
      min-height: 410px;
    }
    @media (min-width: 1600px) {
      min-height: 560px;
    }
    h1 {
      color: #ff6046;
      text-transform: capitalize;
      font-weight: 600;
      position: relative;
      padding: 0;
      line-height: 1.2;
      margin-bottom: 20px;
      font-size: 22px;
      @media (min-width: 576px) {
        font-size: 30px;
      }
      @media (min-width: 768px) {
        line-height: 1.5;
        font-size: 40px;
      }
      @media (min-width: 1200px) {
        font-size: 45px;
      }
      @media (min-width: 1600px) {
        font-size: 60px;
      }
    }
    h2 {
      color: #ffc800;
      font-weight: 500;
      font-style: italic;
      text-transform: capitalize;
      margin: 0;
      line-height: 1.2;
      padding: 0;
      font-size: 16px;

      @media (min-width: 576px) {
        font-size: 16px;
      }
      @media (min-width: 768px) {
        font-size: 22px;
      }
      @media (min-width: 992px) {
        font-size: 22px;
      }
      @media (min-width: 1200px) {
        font-size: 30px;
      }
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    .btn {
      line-height: 40px;
      font-size: 13px;
      text-transform: capitalize;
      padding: 0 20px;
      min-height: 40px;
      margin-top: 57px;
      margin-bottom: 50px;

      @media (min-width: 576px) {
        padding: 0 30px;
        margin: 30px 0 50px 0;
      }
      @media (min-width: 1200px) {
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px;
      }
    }
    .hero-partial-image {
      position: relative;
      margin-bottom: 10px;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      @media (min-width: 480px) {
        width: 50%;
      }
      @media (min-width: 576px) {
        z-index: -1;
        position: absolute;
        width: 65%;
      }
      @media (min-width: 768px) {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0;
      }
      @media (min-width: 992px) {
        margin-left: 0;
        width: 58%;
      }
      @media (min-width: 1200px) {
        width: 58%;
      }
      @media (min-width: 1600px) {
        top: 35px;
        width: auto;
      }
      img {
        width: 100%;
      }
    }
    .image-left {
      right: 0;
      @media (min-width: 576px) {
        right: -75px;
      }

      @media (min-width: 768px) {
        margin-left: -20px;
        left: 0;
        right: auto;
        bottom: auto;
        width: 65%;
      }
      @media (min-width: 992px) {
        width: 58%;
        margin-left: 0px;
      }
      @media (min-width: 1200px) {
        width: 45%;
      }
      @media (min-width: 1600px) {
        width: auto;
        margin-left: -60px;
      }
    }

    .image-right {
      left: 0;

      @media (min-width: 576px) {
        left: auto;
        right: -75px;
      }
      @media (min-width: 768px) {
        right: 0;
        margin-right: 0px;
        width: 55%;
        margin-top: 50px;
      }
      @media (min-width: 1200px) {
        width: 50%;
        margin-right: 60px;
        margin-top: 10px;
      }
      @media (min-width: 1600px) {
        margin-right: 0px;
        width: auto;
      }
    }
    .content-right-side {
      @media (min-width: 1600px) {
        padding-left: 85px;
      }
    }
    .content-left-side {
      margin-left: 100px;
      @media (max-width: 998px) {
        margin-left: 0;
      }
    }
    @media (min-width: 1200px) {
      a {
        padding-top: 5px !important;
      }
    }
  }
  .slick-dots {
    margin-top: -50px !important;
  }
}

////////////////////age-home///////////////////

#age-section {
  text-align: center;
  padding-top: 15px;
  a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
  }
  span {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 600;
  }
}

///////////////Tab/////////////////

.section-padding {
  padding-bottom: 40px;
  margin-top: 50px;
}

.sb-custom-tab {
  text-align: center;
  .nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e5e5e5;
    border-radius: 3px;

    .nav-item {
      font-size: 15px;
      color: #282828;
      line-height: 48px;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      background: #fff;
      position: relative;
      margin: 1px;
      border-radius: 3px;

      .nav-link {
        padding: 0 20px;
        border: 2px solid transparent;
        margin: -2px;
        transition: border-color 0s, color 0.4s;
        :hover {
          color: $color-blue;
        }
      }
      .nav-link.active,
      .nav-link.show {
        border-color: $color-blue;
        color: $color-blue;
      }

      .nav-link.active ~ .arrow-icon,
      .nav-link.show ~ .arrow-icon {
        opacity: 1;
      }
    }
  }
  .tab-content {
    > .tab-pane {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: 0s;
      height: 0;
    }

    .tab-pane.show,
    .tab-pane.active {
      visibility: visible;
      opacity: 1;
      height: 100%;
    }
    > .active {
      display: block;
    }
  }
}
.size-16 {
  font-size: 16px;
}

#sale-banner {
  a {
    display: inline-block;
    width: 100%;
  }
}

////////////////Product discount//////////

.product-discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0;
}
.shopping-cart-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.margin-img-tab {
  margin-top: 50px;
}

//coupon
.coupon {
  position: absolute;
  left: 20px;
  top: 10px;
  background: red;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  color: white;
}
.product-coupon {
  position: relative;
}

@media (max-width: 700px) {
  .coupon {
    width: 35px;
    height: 35px;
    left: 18px;
    font-size: 13px;
  }
}
@media (max-width: 230px) {
  .coupon {
    width: 30px;
    height: 30px;
    left: 15px;
    font-size: 11px;
  }
}
@media (max-width: 180px) {
  .coupon {
    width: 20px;
    height: 20px;
    left: 5px;
    padding-top: 3px;
    font-size: 8px;
  }
}
//////////////////Best saller///////////////
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

#best-saller-product {
  padding-top: 60px;
  @media (min-width: 768px) {
    padding-top: 80px;
  }
  .best-seller-block {
    background: #fff;
    border-radius: 3px;
    padding: 30px 0 15px;
    .banner-left {
      text-align: center;
      padding: 0 24px;
      img {
        width: 100%;
        @media (min-width: 992px) {
          margin-top: -30px !important;
        }
      }
      @media (min-width: 576px) {
        padding: 0 22px;
      }
      @media (min-width: 768px) {
        padding: 0;
      }
    }
    @media (min-width: 768px) {
      padding: 15px 0;
    }
    @media (min-width: 768px) {
      padding: 30px;
    }
  }
}

///////doll-robot//////////////
.margin-50 {
  margin-top: 50px;
}

.section-title {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 30px;
  h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;

    @media (min-width: 992px) {
      font-size: 25px;
      padding-bottom: 31px;
    }
  }
  @media (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    position: relative;
    padding-bottom: 10px;
  }
}
.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: $color-blue
}

.reading-banner {
  height: 200px;
  a {
    height: 200px;
    display: block;
    position: relative;
    img {
      width: 100%;
    }
  }
  .hover-img:before {
    position: absolute;
    content: "";
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s;
  }
  .hover-img:hover:before {
    opacity: 0.2;
  }
}
