.container-fluid {
  padding: 0px !important; }

.hero-area .bg-shade-whisper {
  background: #dafcfb;
  background-image: url(home/banner/banner10.png) !important;
  background-repeat: no-repeat, repeat; }
.hero-area .bg-pink-whisper {
  background: #ffe0f1;
  background-image: url(home/banner/banner11.png) !important;
  background-repeat: no-repeat, repeat; }
.hero-area .home-content {
  border-radius: 3px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1; }
  @media (min-width: 768px) {
    .hero-area .home-content {
      padding-top: 0px;
      padding-bottom: 0px;
      min-height: 400px; } }
  @media (min-width: 992px) {
    .hero-area .home-content {
      min-height: 440px; } }
  @media (min-width: 1200px) {
    .hero-area .home-content {
      min-height: 410px; } }
  @media (min-width: 1600px) {
    .hero-area .home-content {
      min-height: 560px; } }
  .hero-area .home-content h1 {
    color: #ff6046;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    padding: 0;
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 22px; }
    @media (min-width: 576px) {
      .hero-area .home-content h1 {
        font-size: 30px; } }
    @media (min-width: 768px) {
      .hero-area .home-content h1 {
        line-height: 1.5;
        font-size: 40px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content h1 {
        font-size: 45px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content h1 {
        font-size: 60px; } }
  .hero-area .home-content h2 {
    color: #ffc800;
    font-weight: 500;
    font-style: italic;
    text-transform: capitalize;
    margin: 0;
    line-height: 1.2;
    padding: 0;
    font-size: 16px; }
    @media (min-width: 576px) {
      .hero-area .home-content h2 {
        font-size: 16px; } }
    @media (min-width: 768px) {
      .hero-area .home-content h2 {
        font-size: 22px; } }
    @media (min-width: 992px) {
      .hero-area .home-content h2 {
        font-size: 22px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content h2 {
        font-size: 30px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content h2 {
        font-size: 40px; } }
  .hero-area .home-content .btn {
    line-height: 40px;
    font-size: 13px;
    text-transform: capitalize;
    padding: 0 20px;
    min-height: 40px;
    margin-top: 57px;
    margin-bottom: 50px; }
    @media (min-width: 576px) {
      .hero-area .home-content .btn {
        padding: 0 30px;
        margin: 30px 0 50px 0; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .btn {
        padding: 0 40px;
        min-height: 57px;
        font-size: 15px; } }
  .hero-area .home-content .hero-partial-image {
    position: relative;
    margin-bottom: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    @media (min-width: 480px) {
      .hero-area .home-content .hero-partial-image {
        width: 50%; } }
    @media (min-width: 576px) {
      .hero-area .home-content .hero-partial-image {
        z-index: -1;
        position: absolute;
        width: 65%; } }
    @media (min-width: 768px) {
      .hero-area .home-content .hero-partial-image {
        margin-top: 25px;
        top: 25px;
        width: 70%;
        bottom: auto;
        top: 0; } }
    @media (min-width: 992px) {
      .hero-area .home-content .hero-partial-image {
        margin-left: 0;
        width: 58%; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .hero-partial-image {
        width: 58%; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .hero-partial-image {
        top: 35px;
        width: auto; } }
    .hero-area .home-content .hero-partial-image img {
      width: 100%; }
  .hero-area .home-content .image-left {
    right: 0; }
    @media (min-width: 576px) {
      .hero-area .home-content .image-left {
        right: -75px; } }
    @media (min-width: 768px) {
      .hero-area .home-content .image-left {
        margin-left: -20px;
        left: 0;
        right: auto;
        bottom: auto;
        width: 65%; } }
    @media (min-width: 992px) {
      .hero-area .home-content .image-left {
        width: 58%;
        margin-left: 0px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .image-left {
        width: 45%; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .image-left {
        width: auto;
        margin-left: -60px; } }
  .hero-area .home-content .image-right {
    left: 0; }
    @media (min-width: 576px) {
      .hero-area .home-content .image-right {
        left: auto;
        right: -75px; } }
    @media (min-width: 768px) {
      .hero-area .home-content .image-right {
        right: 0;
        margin-right: 0px;
        width: 55%;
        margin-top: 50px; } }
    @media (min-width: 1200px) {
      .hero-area .home-content .image-right {
        width: 50%;
        margin-right: 60px;
        margin-top: 10px; } }
    @media (min-width: 1600px) {
      .hero-area .home-content .image-right {
        margin-right: 0px;
        width: auto; } }
  @media (min-width: 1600px) {
    .hero-area .home-content .content-right-side {
      padding-left: 85px; } }
  .hero-area .home-content .content-left-side {
    margin-left: 100px; }
    @media (max-width: 998px) {
      .hero-area .home-content .content-left-side {
        margin-left: 0; } }
  @media (min-width: 1200px) {
    .hero-area .home-content a {
      padding-top: 5px !important; } }
.hero-area .slick-dots {
  margin-top: -50px !important; }

#age-section {
  text-align: center;
  padding-top: 15px; }
  #age-section a {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content; }
  #age-section span {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-weight: 600; }

.section-padding {
  padding-bottom: 40px;
  margin-top: 50px; }

.sb-custom-tab {
  text-align: center; }
  .sb-custom-tab .nav.nav-tabs {
    display: inline-flex;
    justify-content: center;
    border: 2px solid #e5e5e5;
    border-radius: 3px; }
    .sb-custom-tab .nav.nav-tabs .nav-item {
      font-size: 15px;
      color: #282828;
      line-height: 48px;
      text-transform: capitalize;
      font-weight: 700;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      background: #fff;
      position: relative;
      margin: 1px;
      border-radius: 3px; }
      .sb-custom-tab .nav.nav-tabs .nav-item .nav-link {
        padding: 0 20px;
        border: 2px solid transparent;
        margin: -2px;
        transition: border-color 0s, color 0.4s; }
        .sb-custom-tab .nav.nav-tabs .nav-item .nav-link :hover {
          color: #46ccfd; }
      .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.active,
      .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show {
        border-color: #46ccfd;
        color: #46ccfd; }
      .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.active ~ .arrow-icon,
      .sb-custom-tab .nav.nav-tabs .nav-item .nav-link.show ~ .arrow-icon {
        opacity: 1; }
  .sb-custom-tab .tab-content > .tab-pane {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: 0s;
    height: 0; }
  .sb-custom-tab .tab-content .tab-pane.show,
  .sb-custom-tab .tab-content .tab-pane.active {
    visibility: visible;
    opacity: 1;
    height: 100%; }
  .sb-custom-tab .tab-content > .active {
    display: block; }

.size-16 {
  font-size: 16px; }

#sale-banner a {
  display: inline-block;
  width: 100%; }

.product-discount {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 0; }

.shopping-cart-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.margin-img-tab {
  margin-top: 50px; }

.coupon {
  position: absolute;
  left: 20px;
  top: 10px;
  background: red;
  border-radius: 45px;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  text-align: center;
  color: white; }

.product-coupon {
  position: relative; }

@media (max-width: 700px) {
  .coupon {
    width: 35px;
    height: 35px;
    left: 18px;
    font-size: 13px; } }
@media (max-width: 230px) {
  .coupon {
    width: 30px;
    height: 30px;
    left: 15px;
    font-size: 11px; } }
@media (max-width: 180px) {
  .coupon {
    width: 20px;
    height: 20px;
    left: 5px;
    padding-top: 3px;
    font-size: 8px; } }
.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1; }

#best-saller-product {
  padding-top: 60px; }
  @media (min-width: 768px) {
    #best-saller-product {
      padding-top: 80px; } }
  #best-saller-product .best-seller-block {
    background: #fff;
    border-radius: 3px;
    padding: 30px 0 15px; }
    #best-saller-product .best-seller-block .banner-left {
      text-align: center;
      padding: 0 24px; }
      #best-saller-product .best-seller-block .banner-left img {
        width: 100%; }
        @media (min-width: 992px) {
          #best-saller-product .best-seller-block .banner-left img {
            margin-top: -30px !important; } }
      @media (min-width: 576px) {
        #best-saller-product .best-seller-block .banner-left {
          padding: 0 22px; } }
      @media (min-width: 768px) {
        #best-saller-product .best-seller-block .banner-left {
          padding: 0; } }
    @media (min-width: 768px) {
      #best-saller-product .best-seller-block {
        padding: 15px 0; } }
    @media (min-width: 768px) {
      #best-saller-product .best-seller-block {
        padding: 30px; } }

.margin-50 {
  margin-top: 50px; }

.section-title {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 30px; }
  .section-title h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px; }
    @media (min-width: 992px) {
      .section-title h2 {
        font-size: 25px;
        padding-bottom: 31px; } }
  @media (min-width: 768px) {
    .section-title {
      margin-bottom: 40px; } }

.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5; }
  .section-title--bordered h2 {
    position: relative;
    padding-bottom: 10px; }

.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #46ccfd; }

.reading-banner {
  height: 200px; }
  .reading-banner a {
    height: 200px;
    display: block;
    position: relative; }
    .reading-banner a img {
      width: 100%; }
  .reading-banner .hover-img:before {
    position: absolute;
    content: "";
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.4s; }
  .reading-banner .hover-img:hover:before {
    opacity: 0.2; }

/*# sourceMappingURL=home.component.css.map */
