<!--=================================
       Promotion age section
       ===================================== -->
<section id="age-section" style="margin-top: 50px;">
  <!-- <h2 class="sr-only">Promotion Section</h2> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-12 my-2">
        <a href="javascript:void(0)" (click)="age_click('1-6')" >
          <img src="assets/imgs/home/banner/tu1_6.png" alt="" >
          <span>Từ 1-6 tuổi</span>
        </a>
      </div>
      <div class="col-sm-4 col-12 my-2">
        <a href="javascript:void(0)" (click)="age_click('6-11')" >
          <img src="assets/imgs/home/banner/tu_6_11.png" alt="">
          <span>Từ 6-11 tuổi</span>
        </a>
      </div>
      <div class="col-sm-4 col-12 my-2">
        <a href="javascript:void(0)" (click)="age_click('tren-11')" >
          <img src="assets/imgs/home/banner/tu11_.png" alt="">
          <span>Trên 11 tuổi</span>
        </a>
      </div>

    </div>
  </div>
</section>
