<h3 class="cart-title">Giỏ hàng</h3>
<form action="#" class="">
  <!-- Cart Table -->
  <div class="cart-table mb-80">
    <table class="table table-bordered table-product">
      <!-- Head Row -->
      <thead class="head-table">
      <tr class="text-center row">
        <th class="col-md-4" colspan="2">Sản phẩm</th>
        <th class="col-md-2">Giá</th>
        <th class="col-md-2">Số lượng</th>
        <th class="col-md-2">Tổng</th>
        <th class="col-md-2">#</th>
      </tr>
      </thead>
      <tbody *ngIf="cartItems.length > 0">
      <!-- Product Row -->
      <tr class="row" *ngFor="let item of cartItems">
        <td class="text-center col-md-2 col-lg-1">
          <a [routerLink]="['/product',item.product_id]">
            <img src="{{item.image}}" alt="Đồ chơi 2" width="70">
          </a>
        </td>
        <td class="text-center col-md-2 col-lg-3">
          <a [routerLink]="['/product',item.product_id]">{{item.name}}</a>
        </td>
        <td class="text-center col-md-2">{{item.price | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
        <td class="text-center col-md-2">
          <div class="product-purchase">
            <div class="row">
              <div class="col-12">
                <div class="product-quantity">
                  <span class="decrease quantity-btn" (click)="decreaseQuantity(item)">-</span>
                  <input type="number" value="{{item.quantity}}">
                  <span class="increase quantity-btn" (click)="increaseQuantity(item)">+</span>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="text-center col-md-2">{{item.totalPrice() | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</td>
        <td class="text-center col-md-2" ><span (click)="deleteItem(item)"><i class="fas fa-trash-alt" style="cursor: pointer"></i></span></td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="cartItems.length === 0" class="alert text-center mb-5">Bạn chưa thêm sản phẩm vào giỏ hàng</div>
  </div>
</form>

