<!--=================================
        Best Seller Product
        ===================================== -->
<section id="best-saller-product" class=" margin-50 bg-image section-padding-top section-padding"
         data-bg="assets/imgs/home/banner/banner-best-saller.png">
  <div class="container">
    <div class="section-title section-title--bordered mb-0">
      <h2>Đồ chơi bán chạy</h2>
    </div>
    <div class="best-seller-block">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <div class="banner-left">
            <img src="https://u6wdnj9wggobj.vcdn.cloud/media/wysiwyg/homepage/danh-muc-3.jpg"
                 alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="sb-slick-slider product-slider product-list-slider multiple-row slider-border-multiple-row"
               data-slick-setting='{
                                    "autoplay": true,
                                    "infinite": true,
                                    "autoplaySpeed": 3000,
                                    "slidesToShow":2,
                                    "rows":1,
                                    "dots":true
                                }' data-slick-responsive='[
                                    {"breakpoint":1200, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":992, "settings": {"slidesToShow": 1} },
                                    {"breakpoint":768, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":575, "settings": {"slidesToShow": 2} },
                                    {"breakpoint":350, "settings": {"slidesToShow": 1} }
                                ]'>
            <div *ngFor="let productCard of bestSaller">
              <app-product-card-sale [product]="productCard"></app-product-card-sale>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
