<!--=================================
        Best Seller Product
        ===================================== -->
<section id="best-saller-product" class=" margin-50 bg-image section-padding-top section-padding">
  <div class="container">
    <div class="section-title section-title--bordered mb-0">
      <h2>Đồ chơi bán chạy</h2>
    </div>
    <div class="best-seller-block">
      <div class="row align-items-center">
        <div class="col-lg-5 col-md-6">
          <div class="banner-left">
            <img src="https://u6wdnj9wggobj.vcdn.cloud/media/wysiwyg/homepage/danh-muc-3.jpg"
                 alt="">
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <ngx-slick-carousel class="carousel sb-slick-slider product-slider product-list-slider multiple-row slider-border-multiple-row"
                              #slickModal="slick-carousel"
                              [config]="slideConfig">

            <div *ngFor="let productCard of bestSaller" ngxSlickItem class="slide">
              <app-product-card-sale (getProductQuickView)="getProductQuickView($event)" [product]="productCard"></app-product-card-sale>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>

