<app-breadcrumb ></app-breadcrumb>
<div *ngIf="blog!=undefined">
<div class="site-wrapper" id="top">

  <section class="inner-page-sec-padding-bottom">
    <div class="container">
      <div class="blog-post post-details mb--50">
        <div class="blog-image">
          <img src="{{blog.img1}}" alt="">
        </div>
        <div class="blog-content mt--30">
          <header>
            <h3 class="blog-title"> {{blog.name}}</h3>
            <div class="post-meta">
                                <span class="post-author">
                                    <i class="fa fa-user"></i>
                                    <span class="text-gray">Posted by : </span>
                                  {{blog.author}}
                                </span>
              <span class="post-separator">|</span>
              <span class="post-date">
                                    <i class="far fa-calendar-alt"></i>
                                    <span class="text-gray">On : </span>
                {{blog.date}}
                                </span>
            </div>
          </header>
          <article>
            <h3 class="d-none sr-only">blob-article</h3>
<!--            <b>-->
<!--              Thương hiệu: MAISTO<br>-->
<!--              SKU 39510/MT39900-->
<!--            </b>-->
            <div [innerHTML]="blog.content"></div>
          </article>

        </div>
      </div>
      <div class="share-block mb--50">
        <h3>Chia sẻ</h3>
        <div class="social-links  justify-content-center  mt--10">
          <a href="#" class="single-social social-rounded"><i class="fab fa-facebook-square"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fab fa-twitter"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fab fa-pinterest"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fab fa-google"></i></a>
          <a href="#" class="single-social social-rounded"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </section>
</div>
</div>
