# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DUONGBANHUAN\TaiLieuHocTapHK2Nam3\LapTrinhFrontEnd\Workspace_project_frontEnd_17072021\FrontEndProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
