/*>>>>>>>> Reset <<<<<<<<<*/
@font-face {
  font-family: "Open Sans";
  src: url(assets/webfonts/Open_Sans/OpenSans-Regular.ttf); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
  background: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.25; }

a,
span {
  display: inline-block; }

a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

ul {
  list-style: none;
  margin: 0; }

img {
  max-width: 100%; }

p {
  line-height: 1.75; }

.btn:focus,
.btn:active {
  box-shadow: none;
  border-color: transparent; }

button {
  cursor: pointer;
  background: transparent;
  border: none; }

button:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500; }

.card {
  border: none;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px; }

.container-fluid {
  padding: 0px !important; }

.hero-area .slick-dots {
  margin-top: -50px !important; }

.sb-slick-slider .slick-dots {
  display: flex;
  justify-content: center; }
  .sb-slick-slider .slick-dots li {
    font-size: 0;
    width: 11px;
    height: 11px;
    border-radius: 100%;
    background: #d3d3d3;
    margin: 4px;
    display: block;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 999; }
    .sb-slick-slider .slick-dots li button {
      font-size: 0; }
  .sb-slick-slider .slick-dots li.slick-active {
    background: #46ccfd; }

.size-16 {
  font-size: 16px; }

.margin-50 {
  margin-top: 50px; }

.section-title {
  text-align: center;
  margin-top: -8px; }
  .section-title h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px; }
    @media (min-width: 992px) {
      .section-title h2 {
        font-size: 25px;
        padding-bottom: 31px; } }

.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5; }
  .section-title--bordered h2 {
    position: relative;
    padding-bottom: 10px; }

.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #46ccfd; }

.left-sidebar-parent .left-sidebar-title {
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  display: flex;
  font-size: 16px;
  font-weight: 600; }
.left-sidebar-parent span {
  display: inline-block; }
.left-sidebar-parent i {
  display: inline-block; }
.left-sidebar-parent .left-sidebar-item {
  padding: 0px;
  display: block;
  border-bottom: 1px solid gray; }

@media (max-width: 576px) {
  .left-sidebar-title span {
    text-align: center; }
  .left-sidebar-title i {
    text-align: center; }

  .left-sidebar-item {
    margin: 20px !important;
    text-align: center; } }
.single-block {
  margin-bottom: 40px; }

.single-block:last-child {
  margin-bottom: 0; }

.sidebar-title {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 6px 0;
  text-align: left;
  font-weight: 700;
  display: block;
  line-height: 52px;
  background: #00afef;
  text-align: center;
  color: #fff;
  border-radius: 3px; }

.range-slider-widget .ui-widget-header {
  background: #46ccfd !important; }
.range-slider-widget span {
  border-radius: 45px !important;
  background: #46ccfd !important; }
.range-slider-widget span:hover {
  border-radius: 45px !important; }

input.form-check-input {
  width: 20px;
  height: 20px;
  background-color: #46ccfd;
  margin-right: 50px; }

.form-check-label {
  margin-left: 20px; }

.form-check {
  border-bottom: 1px solid #7b7b7b;
  padding-bottom: 10px; }

.form-check-input:checked:before {
  background-color: green; }

/*# sourceMappingURL=styles.css.map */
