/*>>>>>>>> Reset <<<<<<<<<*/
$color-bold-blue: #00afef;
$color-blue: #46ccfd;
$color-gray: #7b7b7b;
@font-face {
  font-family: "Open Sans";
  src: url(assets/webfonts/Open_Sans/OpenSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  width: 100%;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  padding: 0;
  line-height: 1.25;
}

a,
span {
  display: inline-block;
}

a {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: inherit;
}
a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.75;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  border-color: transparent;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

.card {
  border: none;
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.container-fluid {
  padding: 0px !important; }
.cursor-pointer{
  cursor: pointer;
}
/* Preloder */

#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
  .loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
  }
}

//////Hero-area//////
.hero-area{
  .slick-dots {
    margin-top: -50px !important;
  }
}
/////////////////Slider///////////////
//////////User Slick library////////////
.sb-slick-slider {
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      font-size: 0;
      width: 11px;
      height: 11px;
      border-radius: 100%;
      background: #d3d3d3;
      margin: 4px;
      display: block;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      z-index: 999;
      button {
        font-size: 0;
      }
    }
    li.slick-active {
      background: $color-blue;
    }
  }
}
.size-16 {
  font-size: 16px;
}

.margin-50 {
  margin-top: 50px;
}
//title in home page
.section-title {
  text-align: center;
  margin-top: -8px;
  //margin-bottom: 30px;
  h2 {
    position: relative;
    text-transform: uppercase;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    color: #222222;
    font-weight: 600;
    font-size: 18px;

    @media (min-width: 992px) {
      font-size: 25px;
      padding-bottom: 31px;
    }
  }
  //@media (min-width: 768px) {
  //  margin-bottom: 40px;
  //}
}

.section-title--bordered {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  h2 {
    position: relative;
    padding-bottom: 10px;
  }
}
.section-title--bordered h2:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: $color-blue
}
//product list page
//left sidebar
.left-sidebar-parent {
  .left-sidebar-title {
    border: none;
    border-bottom: 1px solid gray;
    background: transparent;
    display: flex;
    font-size: 16px;
    font-weight: 600;
  }
  span {
    display: inline-block;
  }
  i {
    display: inline-block;
  }
  .left-sidebar-item {
    padding: 0px;
    display: block;
    border-bottom: 1px solid gray;
  }
}

@media (max-width: 576px) {
  .left-sidebar-title {
    span {
      text-align: center;
    }
    i {
      text-align: center;
    }
  }
  .left-sidebar-item {
    margin: 20px !important;
    text-align: center;
  }
}
.single-block {
  margin-bottom: 40px;
}
.single-block:last-child {
  margin-bottom: 0;
}

.sidebar-title {
  font-size: 16px;
  text-transform: capitalize;
  margin: 0 0 6px 0;
  text-align: left;
  font-weight: 700;
  display: block;
  line-height: 52px;
  background: $color-bold-blue;
  text-align: center;
  color: #fff;
  border-radius: 3px;
}
.range-slider-widget {
  .ui-widget-header {
    background: $color-blue !important;
  }
  span {
    border-radius: 45px !important;
    background: $color-blue !important;
  }
  span:hover {
    border-radius: 45px !important;
  }
}
//checkbox
input.form-check-input {
  width: 20px;
  height: 20px;
  background-color: $color-blue;
  margin-right: 50px;
}
.form-check-label {
  margin-left: 20px;
}
.form-check {
  border-bottom: 1px solid $color-gray;
  padding-bottom: 10px;
}
.form-check-input:checked:before {
  background-color: green;
}
//Thy ghi duoi dong nay

//Nhuan ghi duoi dong nay
