<div class="cart-summary">
  <div class="cart-summary-wrap">
    <h4>Tổng tiền giỏ hàng</h4>
    <p>Tạm tính <span>{{subTotal() | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
    <p>Phí vận chuyển <span>{{30000 | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></p>
    <h2>Tổng cộng <span>{{grandTotal() | currency:'VND':'symbol':'1.0-0':'vi-VN'}}</span></h2>
  </div>
  <div class="cart-summary-button">
    <a [routerLink]="['/cart/checkout']" class="checkout-btn c-btn btn--primary">Thanh toán</a>
  </div>
</div>
