 <td class="text-center col-md-2 col-lg-1">
    <img src="assets/imgs/products/toy1.jpg" alt="Đồ chơi 2" width="70">
  </td>
  <td class="text-center col-md-2 col-lg-3">Bo dung cu trang diem</td>
  <td class="text-center col-md-2">444000 VNĐ</td>
  <td class="text-center col-md-2">
    <div class="product-purchase">
      <div class="row">
        <div class="col-12">
          <div class="product-quantity">
            <span class="decrease quantity-btn">-</span>
            <input type="number" value="1">
            <span class="increase quantity-btn">+</span>
          </div>
        </div>
      </div>
    </div>
  </td>
  <td class="text-center col-md-2">444000 VNĐ</td>
  <td class="text-center col-md-2"><i class="fas fa-trash-alt"></i></td>
