$small: 300px;
$medium: 992px;
$black: #000;
$blue: #00AFEF;
$gray: #7b7b7b;
.cart-title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table-product {
  margin-bottom: 80px;
  thead {
    tr {
      font-size: 16px;
      color: $black;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      font-size: 14px;
      color: $black;
      vertical-align: middle;

    }
  }
}
@media (max-width: 770px){
  .head-table{
    display: none;
  }
}
@media (min-width: 770px){
  tbody{
    tr{
      td:nth-child(1){
        border-right: none;
      }
      td:nth-child(2){
        border-left: none;
      }
    }
  }
}
