<div class="cart">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="cart-title">Giỏ hàng</h3>
        <form action="#" class="">
          <!-- Cart Table -->
          <div class="cart-table mb-80">
            <table class="table table-bordered table-product">
              <!-- Head Row -->
              <thead class="head-table">
              <tr class="text-center row">
                <th class="col-md-4" colspan="2">Sản phẩm</th>
                <th class="col-md-2">Giá</th>
                <th class="col-md-2">Số lượng</th>
                <th class="col-md-2">Tổng</th>
                <th class="col-md-2">#</th>
              </tr>
              </thead>
              <tbody>
              <!-- Product Row -->
              <tr class="row">
                <td class="text-center col-md-2 col-lg-1">
                  <img src="assets/imgs/products/toy1.jpg" alt="Đồ chơi 2" width="70">
                </td>
                <td class="text-center col-md-2 col-lg-3">Bộ dụng cụ trang điểm</td>
                <td class="text-center col-md-2">430.000 VNĐ</td>
                <td class="text-center col-md-2">
                  <div class="product-purchase">
                    <div class="row">
                      <div class="col-12">
                        <div class="product-quantity">
                          <span class="decrease quantity-btn">-</span>
                          <input type="number" value="1">
                          <span class="increase quantity-btn">+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--                      <div class="row">-->
                  <!--                        <div class="product-quantity">-->
                  <!--                          <span class="decrease quantity-btn">-</span>-->
                  <!--                          <input type="number" value="1" class="form-control">-->
                  <!--                          <span class="increase quantity-btn">+</span>-->
                  <!--                        </div>-->
                  <!--                      </div>-->
                </td>
                <td class="text-center col-md-2">430.000 VNĐ</td>
                <td class="text-center col-md-2"><i class="fas fa-trash-alt"></i></td>
              </tr>
              <tr class="row">
                <td class="text-center col-md-2 col-lg-1">
                  <img src="assets/imgs/products/toy2.jpg" alt="Đồ chơi 2" width="70">
                </td>
                <td class="text-center col-md-2 col-lg-3">Bộ dụng cụ trang điểm</td>
                <td class="text-center col-md-2">430.000 VNĐ</td>
                <td class="text-center col-md-2">
                  <div class="product-purchase">
                    <div class="row">
                      <div class="col-12">
                        <div class="product-quantity">
                          <span class="decrease quantity-btn">-</span>
                          <input type="number" value="1">
                          <span class="increase quantity-btn">+</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--                      <div class="row">-->
                  <!--                        <div class="product-quantity">-->
                  <!--                          <span class="decrease quantity-btn">-</span>-->
                  <!--                          <input type="number" value="1" class="form-control">-->
                  <!--                          <span class="increase quantity-btn">+</span>-->
                  <!--                        </div>-->
                  <!--                      </div>-->
                </td>
                <td class="text-center col-md-2">430.000 VNĐ</td>
                <td class="text-center col-md-2"><i class="fas fa-trash-alt"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
