
  <h3 class="cart-title">Giỏ hàng</h3>
  <form action="#" class="">
    <!-- Cart Table -->
    <div class="cart-table mb-80">
      <table class="table table-bordered table-product">
        <!-- Head Row -->
        <thead class="head-table">
        <tr class="text-center row">
          <th class="col-md-4" colspan="2">Sản phẩm</th>
          <th class="col-md-2">Giá</th>
          <th class="col-md-2">Số lượng</th>
          <th class="col-md-2">Tổng</th>
          <th class="col-md-2">#</th>
        </tr>
        </thead>
        <tbody>
        <!-- Product Row -->
        <tr class="row">
          <app-cart-item></app-cart-item>
        </tr>
        </tbody>
      </table>
    </div>
  </form>



