$small: 300px;
$medium: 992px;
$black: #000;
$blue: #00AFEF;
$gray: #7b7b7b;
.cart-title {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.table-product {
  margin-bottom: 80px;
  thead {
    tr {
      font-size: 16px;
      color: $black;
      text-transform: uppercase;
    }
  }
  tbody {
    tr {
      font-size: 14px;
      color: $black;
      vertical-align: middle;
      td {
        display: table-cell;
        margin: 0;
        vertical-align: middle;
        img{
          margin-left: 10px;
        }
      }
      td:nth-child(4) {
        .product-purchase {
          .product-quantity {
            width: 90%;
            height: 40px;
            display: inline-block;
            position: relative;
            text-align: center;
            background: #f5f5f5;
            margin-bottom: 5px;
            margin-right: 10px;

            .quantity-btn {
              width: 18%;
              font-size: 16px;
              color: $black;
              cursor: pointer;
              display: inline-block;
            }

            input {
              height: 100%;
              width: 60%;
              font-size: 16px;
              color: $black;
              width: 50px;
              border: none;
              background: #f5f5f5;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 770px){
  .head-table{
    display: none;
  }
}
@media (min-width: 770px){
  tbody{
    tr{
      td:nth-child(1){
        border-right: none;
      }
      td:nth-child(2){
        border-left: none;
      }
    }
  }
}
